<div class="flex-1 flex analysis-progress-bg items-center">
  <div class="h-full w-full ml-32 mr-32 flex flex-col justify-center">
    <div class="text-5xl font-bold" translate>
      datafeeder.analysisProgressBar.title
    </div>
    <div class="text-2xl font-bold pb-10" translate>
      datafeeder.analysisProgressBar.subtitle
    </div>
    <div class="h-16 border-4 border-white rounded-lg">
      <gn-ui-progress-bar
        type="primary"
        [value]="progress * 100"
      ></gn-ui-progress-bar>
    </div>
    <gn-ui-analysis-progress-illustrations
      [progress]="progress"
    ></gn-ui-analysis-progress-illustrations>
  </div>
</div>
