<div class="flex-1 flex analysis-progress-bkg items-center">
  <div class="h-full w-full ml-32 mr-32 flex flex-col justify-center">
    <div class="text-5xl font-bold" translate>
      datafeeder.analysisProgressBar.title
    </div>
    <div class="text-2xl font-bold pb-10" translate>
      datafeeder.analysisProgressBar.subtitle
    </div>
    <div class="h-16 border-4 border-white rounded-lg">
      <ui-progress-bar type="primary" [value]="progress"></ui-progress-bar>
    </div>
    <div class="flex w-full pt-20 ml-16">
      <div class="flex-1" [class.opacity-50]="progress >= 25">
        <app-analysis-progress-illustration-upoad></app-analysis-progress-illustration-upoad>
      </div>
      <div
        class="flex-1"
        [class.opacity-50]="progress >= 50"
        [class.opacity-0]="progress < 25"
      >
        <app-analysis-progress-illustration-detect-file-format></app-analysis-progress-illustration-detect-file-format>
      </div>
      <div
        class="flex-1"
        [class.opacity-50]="progress >= 75"
        [class.opacity-0]="progress < 50"
      >
        <app-analysis-progress-illustration-sampling-data></app-analysis-progress-illustration-sampling-data>
      </div>
      <div class="flex-1" [class.opacity-0]="progress < 75">
        <app-analysis-progress-illustration-gathering-info></app-analysis-progress-illustration-gathering-info>
      </div>
    </div>
  </div>
</div>
