<div *ngIf="(metadataViewFacade.error$ | async) === null">
  <section id="about">
    <div class="container-lg px-4 mt-10 mb-16 pb-2 lg:mx-auto">
      <gn-ui-metadata-info
        class="sm:block"
        *ngIf="(metadataViewFacade.isPresent$ | async) === false"
        [metadata]="{}"
        [incomplete]="true"
      >
      </gn-ui-metadata-info>
      <div
        *ngIf="(metadataViewFacade.isPresent$ | async) === true"
        class="grid gap-8 grid-cols-1 sm:gap-6 sm:grid-cols-3"
      >
        <div class="sm:col-span-2">
          <gn-ui-metadata-info
            class="sm:block"
            [metadata]="metadataViewFacade.metadata$ | async"
            [incomplete]="metadataViewFacade.isIncomplete$ | async"
            (keyword)="onInfoKeywordClick($event)"
          >
          </gn-ui-metadata-info>
        </div>
        <div class="sm:mt-[-185px]">
          <gn-ui-image-overlay-preview
            class="block h-[185px] mb-5"
            [imageUrl]="thumbnailUrl$ | async"
            (isPlaceholderShown)="showOverlay = !$event"
            *ngIf="showOverlay"
          >
          </gn-ui-image-overlay-preview>
          <gn-ui-metadata-contact
            (organizationClick)="onOrganizationClick($event)"
            [metadata]="metadataViewFacade.metadata$ | async"
          >
          </gn-ui-metadata-contact>
          <div *ngIf="metadataQualityDisplay">
            <p class="text text-gray-700 text-xs mb-3 uppercase" translate>
              record.metadata.quality
            </p>
            <gn-ui-metadata-quality
              [metadata]="metadataViewFacade.metadata$ | async"
              [metadataQualityDisplay]="metadataQualityDisplay"
            ></gn-ui-metadata-quality>
          </div>
          <gn-ui-metadata-catalog
            *ngIf="sourceLabel$ | async as sourceLabel"
            [sourceLabel]="sourceLabel"
          >
          </gn-ui-metadata-catalog>
        </div>
      </div>
    </div>
  </section>

  <section id="data-preview">
    <datahub-record-data-preview></datahub-record-data-preview>
  </section>

  <section
    id="resources"
    *ngIf="
      (displayDownload$ | async) ||
      (displayOtherLinks | async) ||
      (displayApi$ | async)
    "
    class="overflow-x-hidden"
  >
    <div class="gn-ui-section-title" translate>
      record.metadata.ressources.and.links
    </div>
    <div class="container-lg px-4 pb-12 lg:mx-auto">
      <div id="downloads" class="mt-5" *ngIf="displayDownload$ | async">
        <datahub-record-downloads class="block"></datahub-record-downloads>
      </div>

      <div *ngIf="displayOtherLinks | async" id="otherlinks" class="mt-5">
        <datahub-record-otherlinks class="block"></datahub-record-otherlinks>
      </div>

      <div *ngIf="displayApi$ | async" id="apis" class="mt-5">
        <datahub-record-apis class="block"></datahub-record-apis>
      </div>
    </div>
  </section>

  <ng-container *ngIf="displayDatasetHasNoLinkBlock$ | async">
    <gn-ui-error
      data-test="dataset-has-no-link-block"
      [type]="errorTypes.DATASET_HAS_NO_LINK"
    ></gn-ui-error>
  </ng-container>

  <section id="related" *ngIf="displayRelated$ | async">
    <div class="gn-ui-section-title" translate>
      record.metadata.related.contents
    </div>

    <div>
      <div>
        <div class="h-48 overflow-visible">
          <div class="container-lg px-4 lg:mx-auto">
            <datahub-record-related-records
              [records]="metadataViewFacade.related$ | async"
            ></datahub-record-related-records>
          </div>
        </div>
      </div>
      <div class="bg-primary">
        <div class="container-lg mx-auto h-[254px] sm:h-64"></div>
      </div>
    </div>
  </section>

  <section
    id="user-feedbacks"
    *ngIf="(metadataViewFacade.isPresent$ | async) === true"
  >
    <div
      *ngIf="(metadataViewFacade.isPresent$ | async) === true"
      class="bg-primary-opacity-10 py-16 mt-[32px]"
    >
      <div class="container-lg px-4 lg:mx-auto">
        <datahub-record-user-feedbacks
          [organisationName$]="organisationName$"
          [metadataUuid]="metadataUuid$ | async"
        ></datahub-record-user-feedbacks>
      </div>
    </div>
  </section>
</div>
<div
  class="mt-12 p-4 max-w-[600px] m-auto text-[13px]"
  *ngIf="metadataViewFacade.error$ | async as error"
>
  <gn-ui-error
    *ngIf="error.notFound"
    [type]="errorTypes.RECORD_NOT_FOUND"
    [recordId]="(metadataViewFacade.metadata$ | async).uniqueIdentifier"
  ></gn-ui-error>
  <gn-ui-error
    *ngIf="error.otherError"
    [type]="errorTypes.RECEIVED_ERROR"
    [error]="error.otherError"
  ></gn-ui-error>
</div>
