html,
body {
  height: 100%;
  color: var(--color-main);

  --gn-ui-button-rounded: 8px;
  --gn-ui-button-padding: 12px;
  --gn-ui-button-font-size: 14px;
}

.icon-btn {
  @apply text-slate-600 hover:text-slate-400 cursor-pointer transition-colors;
}

.menu-item {
  @apply rounded px-9 py-3 flex gap-3 items-center hover:opacity-80 transition-opacity;
}
.btn-active {
  @apply bg-neutral-200 text-blue-600 font-bold;
}
.btn-inactive {
  @apply text-slate-400 cursor-default;
}
.menu-title {
  @apply font-title text-2xl px-9 py-3;
}

.cdk-overlay-transparent-backdrop {
  @apply bg-transparent;
}

.mat-mdc-button-base {
  line-height: normal;
}

.input-as-button {
  @apply border-2 border-gray-300 hover:border-main bg-transparent hover:text-main py-[11.5px] pl-[14px] pr-2;
}

.gn-ui-url-input {
  @apply font-medium text-black;
}

/*dropdown list*/
.mdc-menu-surface.mat-mdc-autocomplete-panel {
  --mat-option-label-text-size: 13px;
}
.mdc-menu-surface .mat-mdc-option {
  @apply !font-sans;
  min-height: 28px;
}
