<header></header>
<main searchSearchStateContainer="mainSearch">
  <div class="bg-primary px-4">
    <div class="container-md mx-auto py-4">
      <div class="flex my-5">
        <div class="mr-3">
          <img src="assets/logo/sextant.png" />
        </div>
        <div>
          <h2 class="text-white text-4xl uppercase">Sextant</h2>
          <div class="text-white">
            Infrastructure de données géographiques marines et littorales
          </div>
        </div>
      </div>
      <div class="py-8">
        <app-search-input></app-search-input>
      </div>
    </div>
  </div>
  <div *ngIf="!selectedMetadata" class="container-lg mx-auto py-4">
    <search-results-hits></search-results-hits>
    <search-results-list-container
      (mdSelect)="onMetadataSelection($event)"
    ></search-results-list-container>
  </div>
  <div *ngIf="selectedMetadata">
    <app-md-visu
      [metadata]="selectedMetadata"
      (closePanel)="onMetadataSelection(null)"
    ></app-md-visu>
  </div>
</main>
