<div class="header pt-24">
  <div class="container-md mx-auto">
    <div
      class="flex font-title py-2 text-48"
      [innerHTML]="'datahub.header.title.html' | translate"
    ></div>
    <div class="py-8">
      <gn-ui-fuzzy-search
        [displayWithFn]="autocompleteDisplayWithFn"
        (itemSelected)="onFuzzySearchSelection($event)"
        (inputSubmited)="onFuzzySearchSubmission()"
      ></gn-ui-fuzzy-search>
    </div>
    <!--
    <div class="flex">
      <datahub-header-badge-button
        icon="star"
        label="datahub.header.myfavorites"
      ></datahub-header-badge-button>
      <datahub-header-badge-button
        class="mx-3"
        label="datahub.header.connex"
      ></datahub-header-badge-button>
    </div>
-->
    <div class="tabs flex justify-center py-4 mt-12 font-medium">
      <!--      <div class="uppercase text-white">Fil d'activité</div>-->
      <div
        class="
          uppercase
          text-primary
          hover:text-primary-lighter hover:underline
          cursor-pointer
        "
        (click)="onDatasetsClick()"
        translate=""
      >
        datasets
      </div>
      <!--      <div class="uppercase text-white">Organisations</div>-->
    </div>
  </div>
</div>
