<div
  class="flex flex-row py-3 px-4 gap-4 shadow-md shadow-gray-300 border-[1px] border-gray-200 overflow-hidden rounded bg-white grow mx-[32px] my-[16px] text-sm"
>
  <ng-icon class="mt-0.5" name="iconoirFilterList"></ng-icon>
  <gn-ui-filter-dropdown
    *ngFor="let filter of searchConfig; let i = index"
    [fieldName]="filter.fieldName"
    [title]="filter.title | translate"
    [style.--gn-ui-button-height]="'32px'"
    [style.--gn-ui-multiselect-counter-text-color]="'var(--color-primary)'"
    [style.--gn-ui-multiselect-counter-background-color]="'white'"
  ></gn-ui-filter-dropdown>
</div>
