<main class="bg-white overflow-y-auto">
  <div class="flex flex-row items-baseline gap-[8px] px-[32px] py-[20px]">
    <ng-container *ngIf="searchText$ | async as searchText; else allRecords">
      <h1
        class="text-[16px] text-main font-bold"
        translate
        [translateParams]="{ searchText: searchText }"
      >
        dashboard.records.search
      </h1>
      <div class="text-[12px]">
        <md-editor-records-count></md-editor-records-count>
      </div>
    </ng-container>
    <ng-template #allRecords>
      <h1 class="text-[16px] text-main font-bold" translate>
        dashboard.records.all
      </h1>
      <div class="text-[12px]">
        <md-editor-records-count></md-editor-records-count>
      </div>
    </ng-template>
  </div>
  <div
    class="flex flex-row items-center mx-[32px] my-[16px] py-[8px] gap-[16px]"
  >
    <div class="grow"></div>
    <gn-ui-button
      cdkOverlayOrigin
      #importRecordButton
      (buttonClick)="duplicateExternalRecord()"
      type="gray"
      data-test="import-record"
    >
      <span translate>dashboard.importRecord</span>
      <ng-icon
        *ngIf="!isImportMenuOpen"
        class="text-primary"
        name="iconoirNavArrowDown"
      ></ng-icon>
      <ng-icon
        *ngIf="isImportMenuOpen"
        class="text-primary"
        name="iconoirNavArrowUp"
      ></ng-icon>
    </gn-ui-button>
    <ng-template #template>
      <gn-ui-import-record
        (closeImportMenu)="closeImportMenu()"
      ></gn-ui-import-record>
    </ng-template>
    <gn-ui-button
      (buttonClick)="createRecord()"
      type="primary"
      data-cy="create-record"
    >
      <ng-icon class="mr-2" name="iconoirPagePlus"></ng-icon>
      <span translate>dashboard.createRecord</span>
    </gn-ui-button>
  </div>
  <md-editor-search-filters
    [searchFields]="searchFields"
  ></md-editor-search-filters>
  <md-editor-records-list></md-editor-records-list>
</main>
