# Add files here to ignore them from prettier formatting

/dist
/package/dist
/coverage
/docs/.vitepress/cache
/docs/.vitepress/dist
# OpenAPI generated specs
**/spec.yaml
/.nx

/.nx/cache
/.nx/workspace-data
.angular
