<div class="flex flex-col">
  <a [routerLink]="ROUTE_SEARCH">
    <gn-ui-figure
      class="py-[37px] pl-[47px] rounded-lg border bg-white mb-5 card-shadow cursor-pointer"
      [figure]="recordsCount$ | async"
      [icon]="'tablerFolderOpen'"
      [title]="'catalog.figures.datasets'"
      [color]="'secondary'"
    ></gn-ui-figure>
  </a>
  <a [routerLink]="ROUTE_ORGANISATIONS">
    <gn-ui-figure
      class="py-[37px] pl-[47px] rounded-lg bg-white border card-shadow cursor-pointer"
      [figure]="orgsCount$ | async"
      [icon]="'matCorporateFare'"
      [title]="'catalog.figures.organizations'"
      [color]="'secondary'"
    ></gn-ui-figure>
  </a>
</div>
