<p>
  <gn-ui-record-field-simple
    label="Unique identifier"
    [(fieldValue)]="record.uniqueIdentifier"
    (confirm)="emitChangedRecord()"
  ></gn-ui-record-field-simple>
</p>
<p>
  <gn-ui-record-field-simple
    label="Title"
    [(fieldValue)]="record.title"
    (confirm)="emitChangedRecord()"
  ></gn-ui-record-field-simple>
</p>
<p>
  <gn-ui-record-field-simple
    label="Abstract"
    [(fieldValue)]="record.abstract"
    (confirm)="emitChangedRecord()"
    [type]="'rich'"
  ></gn-ui-record-field-simple>
</p>
<p>
  <gn-ui-record-field-simple
    label="Kind"
    [options]="['dataset', 'service']"
    [fieldValue]="record.kind"
    (fieldValueChange)="switchToRecordKind($event)"
  ></gn-ui-record-field-simple>
</p>
<p>
  <gn-ui-record-field-group label="Owner Organization">
    <gn-ui-button
      *ngIf="!record.ownerOrganization"
      [type]="'outline'"
      (buttonClick)="addOwnerOrg()"
      extraClass="m-2 py-[0.5em] px-[1em]"
    >
      <span class="opacity-70">Add a owner organization to this record</span>
    </gn-ui-button>
    <ng-container *ngIf="record.ownerOrganization">
      <gn-ui-record-field-simple
        label="Name"
        [(fieldValue)]="record.ownerOrganization.name"
        (confirm)="emitChangedRecord()"
      ></gn-ui-record-field-simple>
      <gn-ui-record-field-simple
        label="Description"
        [(fieldValue)]="record.ownerOrganization.description"
        (confirm)="emitChangedRecord()"
      ></gn-ui-record-field-simple>
      <gn-ui-record-field-simple
        label="Website"
        [(fieldValue)]="record.ownerOrganization.website"
        (confirm)="emitChangedRecord()"
        [type]="'url'"
      ></gn-ui-record-field-simple>
      <gn-ui-record-field-simple
        label="Logo URL"
        [(fieldValue)]="record.ownerOrganization.logoUrl"
        (confirm)="emitChangedRecord()"
        [type]="'url'"
      ></gn-ui-record-field-simple>
    </ng-container>
  </gn-ui-record-field-group>
</p>
<p>
  <gn-ui-record-field-array
    label="Contacts"
    [(fieldValue)]="record.contacts"
    [itemTemplate]="contactTpl"
    (confirm)="emitChangedRecord()"
    [defaultItem]="{
      firstName: 'first',
      lastName: 'last',
      email: 'email@domain.com',
      organization: { name: 'org' },
      role: 'unspecified',
    }"
  >
  </gn-ui-record-field-array>
</p>
<p>
  <gn-ui-record-field-array
    label="Contacts for resource"
    [(fieldValue)]="record.contactsForResource"
    [itemTemplate]="contactTpl"
    (confirm)="emitChangedRecord()"
    [defaultItem]="{
      firstName: 'first',
      lastName: 'last',
      email: 'email@domain.com',
      organization: { name: 'org' },
      role: 'unspecified',
    }"
  >
  </gn-ui-record-field-array>
</p>
<ng-template #contactTpl let-get="getValue" let-set="setValue">
  <gn-ui-record-field-group label="Contact">
    <gn-ui-record-field-simple
      label="First Name"
      [fieldValue]="get().firstName"
      (fieldValueChange)="set($event, 'firstName')"
      (confirm)="emitChangedRecord()"
    ></gn-ui-record-field-simple>
    <gn-ui-record-field-simple
      label="Last Name"
      [fieldValue]="get().lastName"
      (fieldValueChange)="set($event, 'lastName')"
      (confirm)="emitChangedRecord()"
    ></gn-ui-record-field-simple>
    <gn-ui-record-field-simple
      label="Email"
      [fieldValue]="get().email"
      (fieldValueChange)="set($event, 'email')"
      (confirm)="emitChangedRecord()"
    ></gn-ui-record-field-simple>
    <gn-ui-record-field-simple
      label="Role"
      [fieldValue]="get().role"
      (fieldValueChange)="set($event, 'role')"
      (confirm)="emitChangedRecord()"
      [options]="roleOptions"
    ></gn-ui-record-field-simple>
    <gn-ui-record-field-simple
      label="Position"
      [fieldValue]="get().position"
      (fieldValueChange)="set($event, 'position')"
      (confirm)="emitChangedRecord()"
    ></gn-ui-record-field-simple>
    <gn-ui-record-field-group label="Organisation" *ngIf="get().organization">
      <gn-ui-record-field-simple
        label="Name"
        [fieldValue]="get().organization.name"
        (fieldValueChange)="set($event, 'organization', 'name')"
        (confirm)="emitChangedRecord()"
      ></gn-ui-record-field-simple>
      <gn-ui-record-field-simple
        label="Description"
        [fieldValue]="get().organization.description"
        (fieldValueChange)="set($event, 'organization', 'description')"
        (confirm)="emitChangedRecord()"
      ></gn-ui-record-field-simple>
      <gn-ui-record-field-simple
        label="Website"
        [fieldValue]="get().organization.website"
        (fieldValueChange)="set($event, 'organization', 'website')"
        (confirm)="emitChangedRecord()"
        [type]="'url'"
      ></gn-ui-record-field-simple>
      <gn-ui-record-field-simple
        label="Logo URL"
        [fieldValue]="get().organization.logoUrl"
        (fieldValueChange)="set($event, 'organization', 'logoUrl')"
        (confirm)="emitChangedRecord()"
        [type]="'url'"
      ></gn-ui-record-field-simple>
    </gn-ui-record-field-group>
  </gn-ui-record-field-group>
</ng-template>
<p class="grid grid-cols-3">
  <gn-ui-record-field-simple
    label="Record created on"
    [(fieldValue)]="record.recordCreated"
    (confirm)="emitChangedRecord()"
    [type]="'date'"
  ></gn-ui-record-field-simple>
  <gn-ui-record-field-simple
    label="Record updated on"
    [(fieldValue)]="record.recordUpdated"
    (confirm)="emitChangedRecord()"
    [type]="'date'"
  ></gn-ui-record-field-simple>
  <gn-ui-record-field-simple
    label="Record published on"
    [(fieldValue)]="record.recordPublished"
    (confirm)="emitChangedRecord()"
    [type]="'date'"
  ></gn-ui-record-field-simple>
</p>
<p class="grid grid-cols-3">
  <gn-ui-record-field-simple
    label="Resource created on"
    [(fieldValue)]="record.resourceCreated"
    (confirm)="emitChangedRecord()"
    [type]="'date'"
  ></gn-ui-record-field-simple>
  <gn-ui-record-field-simple
    label="Resource updated on"
    [(fieldValue)]="record.resourceUpdated"
    (confirm)="emitChangedRecord()"
    [type]="'date'"
  ></gn-ui-record-field-simple>
  <gn-ui-record-field-simple
    label="Resource published on"
    [(fieldValue)]="record.resourcePublished"
    (confirm)="emitChangedRecord()"
    [type]="'date'"
  ></gn-ui-record-field-simple>
</p>
<p>
  <gn-ui-record-field-array
    label="Topics"
    [(fieldValue)]="record.topics"
    [itemTemplate]="topicTpl"
    (confirm)="emitChangedRecord()"
    [defaultItem]="'change me!'"
  >
    <ng-template #topicTpl let-get="getValue" let-set="setValue">
      <gn-ui-record-field-simple
        label="Topic"
        [fieldValue]="get()"
        (fieldValueChange)="set($event)"
        (confirm)="emitChangedRecord()"
      ></gn-ui-record-field-simple>
    </ng-template>
  </gn-ui-record-field-array>
</p>
<p>
  <gn-ui-record-field-array
    label="Keywords"
    [(fieldValue)]="record.keywords"
    [itemTemplate]="keywordTpl"
    (confirm)="emitChangedRecord()"
    [defaultItem]="{ label: 'change me!', type: 'other' }"
  >
  </gn-ui-record-field-array>
</p>

<ng-template #keywordTpl let-get="getValue" let-set="setValue">
  <gn-ui-record-field-group>
    <gn-ui-record-field-simple
      label="Label"
      [fieldValue]="get().label"
      (fieldValueChange)="set($event, 'label')"
      [type]="'text'"
      (confirm)="emitChangedRecord()"
    ></gn-ui-record-field-simple>
    <gn-ui-record-field-simple
      label="Type"
      [options]="['other', 'theme', 'place', 'temporal']"
      [fieldValue]="get().type"
      (fieldValueChange)="set($event, 'type')"
      (confirm)="emitChangedRecord()"
    ></gn-ui-record-field-simple>
    <gn-ui-record-field-object
      label="Thesaurus"
      [optional]="true"
      [itemTemplate]="thesaurusTpl"
      [fieldValue]="get().thesaurus"
      (fieldValueChange)="set($event, 'thesaurus')"
      (confirm)="emitChangedRecord()"
    ></gn-ui-record-field-object>
  </gn-ui-record-field-group>
</ng-template>

<ng-template #thesaurusTpl let-get="getValue" let-set="setValue">
  <gn-ui-record-field-simple
    label="Identifier"
    [fieldValue]="get().id"
    (fieldValueChange)="set($event, 'id')"
    [type]="'text'"
    (confirm)="emitChangedRecord()"
  ></gn-ui-record-field-simple>
  <gn-ui-record-field-simple
    label="Name"
    [fieldValue]="get().name"
    (fieldValueChange)="set($event, 'name')"
    [type]="'text'"
    (confirm)="emitChangedRecord()"
  ></gn-ui-record-field-simple>
  <gn-ui-record-field-simple
    label="URL"
    [fieldValue]="get().url"
    (fieldValueChange)="set($event, 'url')"
    [type]="'url'"
    (confirm)="emitChangedRecord()"
  ></gn-ui-record-field-simple>
</ng-template>

<ng-template #constraintTpl let-get="getValue" let-set="setValue">
  <gn-ui-record-field-group>
    <gn-ui-record-field-simple
      label="Text"
      [fieldValue]="get().text"
      (fieldValueChange)="set($event, 'text')"
      [type]="'rich'"
      (confirm)="emitChangedRecord()"
    ></gn-ui-record-field-simple>
    <gn-ui-record-field-simple
      label="URL"
      [fieldValue]="get().url"
      (fieldValueChange)="set($event, 'url')"
      [type]="'url'"
      (confirm)="emitChangedRecord()"
    ></gn-ui-record-field-simple>
  </gn-ui-record-field-group>
</ng-template>
<p>
  <gn-ui-record-field-array
    label="Licenses"
    [(fieldValue)]="record.licenses"
    [itemTemplate]="constraintTpl"
    (confirm)="emitChangedRecord()"
    [defaultItem]="{ text: 'change me!' }"
  >
  </gn-ui-record-field-array>
</p>
<p>
  <gn-ui-record-field-array
    label="Legal constraints"
    [(fieldValue)]="record.legalConstraints"
    [itemTemplate]="constraintTpl"
    (confirm)="emitChangedRecord()"
    [defaultItem]="{ text: 'change me!' }"
  >
  </gn-ui-record-field-array>
</p>
<p>
  <gn-ui-record-field-array
    label="Security constraints"
    [(fieldValue)]="record.securityConstraints"
    [itemTemplate]="constraintTpl"
    (confirm)="emitChangedRecord()"
    [defaultItem]="{ text: 'change me!' }"
  >
  </gn-ui-record-field-array>
</p>
<p>
  <gn-ui-record-field-array
    label="Other constraints"
    [(fieldValue)]="record.otherConstraints"
    [itemTemplate]="constraintTpl"
    (confirm)="emitChangedRecord()"
    [defaultItem]="{ text: 'change me!' }"
  >
  </gn-ui-record-field-array>
</p>

<div *ngIf="isDatasetRecord">
  <p class="text-xl font-bold font-title mt-8 mb-0 m-2">
    Dataset record specific fields
  </p>
  <p>
    <gn-ui-record-field-simple
      label="Status"
      [(fieldValue)]="record.status"
      (confirm)="emitChangedRecord()"
      [options]="statusOptions"
    ></gn-ui-record-field-simple>
  </p>
  <p>
    <gn-ui-record-field-simple
      label="Spatial Representation Type"
      [(fieldValue)]="record.spatialRepresentation"
      (confirm)="emitChangedRecord()"
      [options]="['grid', 'vector', 'tin', 'table', 'point']"
    ></gn-ui-record-field-simple>
  </p>
  <p>
    <gn-ui-record-field-simple
      label="Lineage"
      [(fieldValue)]="record.lineage"
      (confirm)="emitChangedRecord()"
      [type]="'rich'"
    ></gn-ui-record-field-simple>
  </p>
  <p>
    <gn-ui-record-field-array
      label="Distributions"
      [(fieldValue)]="record.distributions"
      [itemTemplate]="distributionTpl"
      (confirm)="emitChangedRecord()"
      [defaultItem]="getOnlineResourceForType('download')"
    >
      <ng-template #distributionTpl let-get="getValue" let-set="setValue">
        <gn-ui-record-field-group label="Distribution">
          <gn-ui-record-field-simple
            label="Type"
            [options]="['service', 'download', 'link']"
            [fieldValue]="get().type"
            (fieldValueChange)="set(getOnlineResourceForType($event))"
            (confirm)="emitChangedRecord()"
          ></gn-ui-record-field-simple>
          <gn-ui-record-field-simple
            *ngIf="get().type === 'service'"
            label="Access Service URL"
            [type]="'url'"
            [fieldValue]="get().url"
            (fieldValueChange)="set($event, 'url')"
            (confirm)="emitChangedRecord()"
          ></gn-ui-record-field-simple>
          <gn-ui-record-field-simple
            *ngIf="get().type === 'service'"
            label="Access Service Protocol"
            [fieldValue]="get().accessServiceProtocol"
            (fieldValueChange)="set($event, 'accessServiceProtocol')"
            (confirm)="emitChangedRecord()"
          ></gn-ui-record-field-simple>
          <gn-ui-record-field-simple
            *ngIf="get().type === 'service'"
            label="Identifier In Service"
            [fieldValue]="get().identifierInService"
            (fieldValueChange)="set($event, 'identifierInService')"
            (confirm)="emitChangedRecord()"
          ></gn-ui-record-field-simple>
          <gn-ui-record-field-simple
            *ngIf="get().type === 'download'"
            label="Download URL"
            [type]="'url'"
            [fieldValue]="get().url"
            (fieldValueChange)="set($event, 'url')"
            (confirm)="emitChangedRecord()"
          ></gn-ui-record-field-simple>
          <gn-ui-record-field-simple
            *ngIf="get().type === 'download'"
            label="Mime Type"
            [fieldValue]="get().mimeType"
            (fieldValueChange)="set($event, 'mimeType')"
            (confirm)="emitChangedRecord()"
          ></gn-ui-record-field-simple>
          <gn-ui-record-field-simple
            *ngIf="get().type === 'download'"
            label="Size In Bytes"
            [type]="'number'"
            [fieldValue]="get().sizeBytes"
            (fieldValueChange)="set($event, 'sizeBytes')"
            (confirm)="emitChangedRecord()"
          ></gn-ui-record-field-simple>
          <gn-ui-record-field-simple
            *ngIf="get().type === 'link'"
            label="Link URL"
            [type]="'url'"
            [fieldValue]="get().url"
            (fieldValueChange)="set($event, 'url')"
            (confirm)="emitChangedRecord()"
          ></gn-ui-record-field-simple>
          <gn-ui-record-field-simple
            label="Name"
            [fieldValue]="get().name"
            (fieldValueChange)="set($event, 'name')"
            (confirm)="emitChangedRecord()"
          ></gn-ui-record-field-simple>
          <gn-ui-record-field-simple
            label="Description"
            [type]="'rich'"
            [fieldValue]="get().description"
            (fieldValueChange)="set($event, 'description')"
            (confirm)="emitChangedRecord()"
          ></gn-ui-record-field-simple>
        </gn-ui-record-field-group>
      </ng-template>
    </gn-ui-record-field-array>
  </p>
</div>

<div *ngIf="isServiceRecord">
  <p class="text-xl font-bold font-title mt-8 mb-0 m-2">
    Service record specific fields
  </p>
  <p>
    <gn-ui-record-field-array
      label="Online Resources"
      [(fieldValue)]="record.onlineResources"
      [itemTemplate]="endpointTpl"
      (confirm)="emitChangedRecord()"
      [defaultItem]="{ url: '', accessServiceProtocol: 'OGC:WMS' }"
    >
      <ng-template #endpointTpl let-get="getValue" let-set="setValue">
        <gn-ui-record-field-group label="Online Resource">
          <gn-ui-record-field-simple
            label="Type"
            [options]="['endpoint', 'link']"
            [fieldValue]="get().type"
            (fieldValueChange)="set(getOnlineResourceForType($event))"
            (confirm)="emitChangedRecord()"
          ></gn-ui-record-field-simple>
          <gn-ui-record-field-simple
            *ngIf="get().type === 'endpoint'"
            label="Endpoint URL"
            [type]="'url'"
            [fieldValue]="get().url"
            (fieldValueChange)="set($event, 'url')"
            (confirm)="emitChangedRecord()"
          ></gn-ui-record-field-simple>
          <gn-ui-record-field-simple
            *ngIf="get().type === 'endpoint'"
            label="Protocol"
            [fieldValue]="get().accessServiceProtocol"
            (fieldValueChange)="set($event, 'protocol')"
            (confirm)="emitChangedRecord()"
          ></gn-ui-record-field-simple>
          <gn-ui-record-field-simple
            *ngIf="get().type === 'link'"
            label="Name"
            [fieldValue]="get().name"
            (fieldValueChange)="set($event, 'name')"
            (confirm)="emitChangedRecord()"
          ></gn-ui-record-field-simple>
          <gn-ui-record-field-simple
            label="Description"
            [type]="'rich'"
            [fieldValue]="get().description"
            (fieldValueChange)="set($event, 'description')"
            (confirm)="emitChangedRecord()"
          ></gn-ui-record-field-simple>
        </gn-ui-record-field-group>
      </ng-template>
    </gn-ui-record-field-array>
  </p>
</div>
