:host {
  display: flex;
  flex: 1;
}

.shape {
  position: relative;
  border: 1px solid var(--color-current);
}

.shape::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--color-primary);
}

.shape::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--color-background);
}

.shape.s2::before {
  -webkit-clip-path: url(#mask-shape2-1);
  clip-path: url(#mask-shape2-1);
}
.shape.s2::after {
  top: 60%;
  left: 20%;
  right: 0;
  z-index: 0;
  -webkit-clip-path: url(#mask-shape2-2);
  clip-path: url(#mask-shape2-2);
}
