<div class="mb-3 mx-4 rounded flex flex-row">
  <div class="w-2/4 mr-3">
    <gn-ui-fuzzy-search></gn-ui-fuzzy-search>
  </div>
  <div class="w-1/4 mr-3">
    <gn-ui-sort-by></gn-ui-sort-by>
  </div>
  <div class="grow">
    <gn-ui-results-layout></gn-ui-results-layout>
  </div>
</div>
<div class="flex flex-row">
  <gn-ui-facets-container class="w-1/4"></gn-ui-facets-container>
  <div class="w-3/4">
    <gn-ui-results-hits></gn-ui-results-hits>
    <gn-ui-results-list-container></gn-ui-results-list-container>
  </div>
</div>
