<gn-ui-sticky-header
  [fullHeightPx]="fullHeaderHeight$ | async"
  [minHeightPx]="60"
>
  <ng-template let-expandRatio>
    <header
      class="w-full sm:h-[344px] grid"
      [ngClass]="(thumbnailUrl$ | async) ? 'h-[554px]' : 'h-[344px]'"
    >
      <div
        [style.background]="backgroundCss"
        [style.opacity]="-1 + (1 - expandRatio) * 2 < 1 ? '1' : '0'"
      >
        <div class="h-full w-full container-lg mx-auto px-4">
          <div
            class="h-[60px] py-3 flex flex-row justify-between content-center items-center"
          >
            <gn-ui-button
              (buttonClick)="back()"
              data-cy="backButton"
              type="outline"
              extraClass="bg-transparent"
              [style.--gn-ui-button-color]="foregroundColor"
              [style.--gn-ui-button-height]="'32px'"
              [style.--color-gray-300]="foregroundColor"
            >
              <ng-icon
                name="matArrowBack"
                size="20px"
                class="align-middle"
              ></ng-icon>
              <span class="mx-2 mt-0.5 text-base content-center" translate
                >datahub.search.back</span
              >
            </gn-ui-button>
            <div class="flex flex-row content-center gap-3">
              <gn-ui-favorite-star
                *ngIf="metadata?.uniqueIdentifier"
                [record]="metadata"
                [displayLabel]="(isMobile$ | async) ? false : true"
                [displayCount]="false"
                class="flex text-background content-center"
                [buttonType]="'outline'"
                [style.--gn-ui-button-color]="foregroundColor"
                [style.--gn-ui-button-background]="'none'"
                [style.--color-gray-300]="foregroundColor"
              ></gn-ui-favorite-star>
              <gn-ui-language-switcher
                *ngIf="showLanguageSwitcher"
                [style.--color-main]="foregroundColor"
                [style.--color-gray-300]="foregroundColor"
              ></gn-ui-language-switcher>
            </div>
          </div>
          <div
            class="py-7 grid gap-3 grid-cols-1 sm:gap-6 sm:grid-cols-3 items-center content-center min-h-[228px]"
          >
            <div class="sm:col-span-2 justify-center">
              <div class="flex flex-col gap-3">
                <h1
                  *ngIf="metadata"
                  class="font-title text-[28px] max-w-screen-sm line-clamp-3"
                  [style.color]="foregroundColor"
                >
                  {{ metadata.title }}
                </h1>
                <a
                  *ngIf="
                    metadata.kind === 'reuse' &&
                    (reuseLinkUrl$ | async) as reuseLink
                  "
                  [href]="reuseLink"
                  class="h-8 max-w-60 w-fit py-1 px-2 gn-ui-btn-primary"
                  target="_blank"
                >
                  <span class="mt-1">{{
                    'reuse.metadata.access' | translate
                  }}</span>
                  <ng-icon
                    class="ml-2 text-[0.9em]"
                    name="iconoirOpenNewWindow"
                  ></ng-icon
                ></a>
                <div
                  class="flex flex-row flex-wrap items-center gap-4"
                  [style.color]="foregroundColor"
                  data-test="metadataBadges"
                >
                  <gn-ui-kind-badge
                    [styling]="'outline'"
                    [kind]="metadata.kind"
                  ></gn-ui-kind-badge>
                  <gn-ui-geo-data-badge
                    [styling]="'default'"
                    [record]="metadata"
                  ></gn-ui-geo-data-badge>
                  <div *ngIf="metadata.recordUpdated">
                    <p
                      translate
                      [translateParams]="{ date: lastUpdate }"
                      class="text-sm"
                    >
                      record.metadata.lastUpdate
                    </p>
                  </div>
                  <div
                    *ngIf="metadata.kind === 'dataset' && metadata.status"
                    class="flex flex-row gap-4 text-sm"
                  >
                    <p>•</p>
                    <p
                      [innerHTML]="
                        'domain.record.status.' + metadata.status | translate
                      "
                    ></p>
                  </div>
                </div>
              </div>
            </div>
            <gn-ui-image-overlay-preview
              class="block h-[228px] w-full self-center"
              [imageUrl]="thumbnailUrl$ | async"
              (isPlaceholderShown)="showOverlay = !$event"
              *ngIf="(thumbnailUrl$ | async) && showOverlay"
            >
            </gn-ui-image-overlay-preview>
          </div>
        </div>
      </div>
      <datahub-navigation-bar
        *ngIf="(facade.isMetadataLoading$ | async) === false"
        [metadata]="metadata"
        [style.display]="-1 + (1 - expandRatio) * 2 < 1 ? 'none' : 'block'"
        [style.pointer-events]="
          -1 + (1 - expandRatio) * 2 < 1 ? 'none' : 'auto'
        "
      ></datahub-navigation-bar>
    </header>
  </ng-template>
</gn-ui-sticky-header>
