<header class="w-full h-[285px]" [style.background]="backgroundCss">
  <div
    class="h-full container-lg mx-auto flex flex-col justify-center gap-7 relative"
  >
    <div
      *ngIf="metadata"
      class="font-title text-[28px] max-w-screen-sm line-clamp-3 ml-4"
      [style.color]="foregroundColor"
    >
      {{ metadata.title }}
    </div>
    <div
      class="flex flex-row flex-wrap items-center gap-4 mb-4 ml-4 sm:mr-[332px]"
      [style.color]="foregroundColor"
    >
      <gn-ui-badge
        *ngIf="(isGeodata$ | async) === true"
        [style.--gn-ui-badge-padding]="'2px 8px'"
        [style.--gn-ui-badge-background-color]="'var(--color-primary-darker)'"
        [style.--gn-ui-badge-opacity]="'1'"
        class="leading-[1.4em]"
      >
        <ng-icon
          class="mr-[5px] text-[1em]"
          name="matLocationSearchingOutline"
        ></ng-icon>
        <span class="font-semibold text-[12px]" translate
          >record.metadata.type</span
        >
      </gn-ui-badge>
      <div *ngIf="metadata.recordUpdated">
        <p translate [translateParams]="{ date: lastUpdate }">
          record.metadata.lastUpdate
        </p>
      </div>
      <div *ngIf="metadata.status" class="flex flex-row gap-2">
        <p>•</p>
        <p
          [innerHTML]="'domain.record.status.' + metadata.status | translate"
        ></p>
      </div>
    </div>
  </div>
</header>
