<header class="w-full h-[231px]" [style.background]="backgroundCss">
  <div
    class="h-full container-lg mx-auto flex flex-col justify-center relative"
  >
    <gn-ui-favorite-star
      *ngIf="metadata?.uniqueIdentifier"
      [record]="metadata"
      class="absolute text-background top-[0.85em] right-[0.85em]"
      [style.color]="foregroundColor"
      [style.--star-toggle-enabled-color]="'var(--color-primary)'"
      [style.--star-toggle-disabled-color]="foregroundColor"
    ></gn-ui-favorite-star>
    <div
      *ngIf="metadata"
      class="font-title text-center px-2 text-[28px] mb-[41px] line-clamp-4 sm:mx-48"
      [style.color]="foregroundColor"
    >
      {{ metadata.title }}
    </div>

    <div class="absolute" style="left: 16px; top: 16px">
      <gn-ui-navigation-button
        (click)="back()"
        [label]="'datahub.search.back' | translate"
        [icon]="'navigate_before'"
      >
      </gn-ui-navigation-button>
    </div>
  </div>
</header>

<div
  class="container-lg mt-[-40px] z-20 sticky lg:mx-auto inset-x-0 top-[10px]"
>
  <datahub-navigation-bar></datahub-navigation-bar>
</div>
