<div class="flex flex-row gap-x-4 items-center justify-center md:justify-start">
  <div>
    <h3
      class="inline-block font-title text-xl font-medium text-title"
      translate
    >
      record.metadata.links
    </h3>
    <span class="px-3">({{ linksCount$ | async }})</span>
  </div>
  <gn-ui-previous-next-buttons
    class="block md:hidden"
    *ngIf="carousel?.pagesCount > 1"
    [listComponent]="carousel"
  ></gn-ui-previous-next-buttons>
  <gn-ui-previous-next-buttons
    class="hidden md:block"
    *ngIf="list?.pagesCount > 1"
    [listComponent]="list"
  ></gn-ui-previous-next-buttons>
</div>
<ng-container *ngrxLet="otherLinks$ as otherLinks">
  <gn-ui-carousel
    class="block md:hidden"
    containerClass="gap-4 pt-5 pb-7"
    (currentStepChange)="updateView()"
  >
    <gn-ui-external-link-card
      *ngFor="let otherLink of otherLinks"
      [link]="otherLink"
      class="w-80"
      size="S"
    ></gn-ui-external-link-card>
  </gn-ui-carousel>
  <gn-ui-block-list
    #blockList
    class="hidden md:block"
    containerClass="gap-4 pt-5 pb-7"
  >
    <gn-ui-external-link-card
      #block
      *ngFor="let otherLink of otherLinks"
      [link]="otherLink"
      [size]="blockList.subComponentSize"
    ></gn-ui-external-link-card>
  </gn-ui-block-list>
</ng-container>
