<div class="flex flex-row gap-x-4 items-center">
  <h3 class="font-title text-xl font-medium text-title" translate>
    record.metadata.links
  </h3>
  <gn-ui-previous-next-buttons
    *ngIf="paginableElement?.pagesCount > 1"
    [listComponent]="paginableElement"
  ></gn-ui-previous-next-buttons>
</div>
<ng-container *ngrxLet="otherLinks$ as otherLinks">
  <gn-ui-block-list
    containerClass="gap-4 pt-5"
    *ngIf="otherLinks.length >= 10; else carouselTemplate"
  >
    <gn-ui-link-card
      #block
      *ngFor="let otherLink of otherLinks"
      [link]="otherLink"
      size="S"
    ></gn-ui-link-card>
  </gn-ui-block-list>
  <ng-template #carouselTemplate>
    <gn-ui-carousel
      containerClass="gap-4 pt-5 pb-7"
      (currentStepChange)="updateView()"
    >
      <gn-ui-link-card
        *ngFor="let otherLink of otherLinks; let first = first; let last = last"
        [link]="otherLink"
        size="S"
      ></gn-ui-link-card>
    </gn-ui-carousel>
  </ng-template>
</ng-container>
