<div>
  <p
    class="font-title text-[28px] font-medium mt-8 mb-5 text-title text-center sm:mt-12 sm:mb-[-22px] sm:text-left"
    translate
  >
    record.metadata.links
  </p>
  <div *ngIf="hasFourSlidesOrMore" class="flex flex-row gap-x-4 items-center">
    <gn-ui-button
      [style.--gn-ui-button-rounded]="'100%'"
      [style.--gn-ui-button-width]="'1.4rem'"
      [style.--gn-ui-button-height]="'1.4rem'"
      [type]="isFirstStep ? 'outline' : 'outline'"
      [disabled]="isFirstStep"
      (buttonClick)="slideToPrevious()"
    >
      <mat-icon
        class="material-symbols-outlined rounded-full text-[0.9rem] text-center pt-[0.19rem]"
      >
        arrow_back
      </mat-icon>
    </gn-ui-button>
    <gn-ui-button
      [style.--gn-ui-button-rounded]="'100%'"
      [style.--gn-ui-button-width]="'1.4rem'"
      [style.--gn-ui-button-height]="'1.4rem'"
      [type]="isLastStep ? 'outline' : 'outline'"
      [disabled]="isLastStep"
      (buttonClick)="slideToNext()"
    >
      <mat-icon
        class="material-symbols-outlined rounded-full text-[0.9rem] text-center pt-[0.19rem]"
      >
        arrow_forward
      </mat-icon>
    </gn-ui-button>
  </div>
</div>
<ng-container *ngIf="(otherLinks$ | async).length > 9; else carrouselTpl">
  <gn-ui-list
    [listItems]="otherLinks$ | async"
    [listPageSize]="OTHER_LINKS_LIST_PAGE_SIZE"
  >
  </gn-ui-list>
</ng-container>
<ng-template #carrouselTpl>
  <gn-ui-carousel
    #carousel
    containerClass="gap-4 py-10"
    stepsContainerClass="right-[var(--container-outside-width)] bottom-[calc(100%-12px)] top-auto"
  >
    <gn-ui-link-card
      *ngFor="
        let link of facade.otherLinks$ | async;
        let first = first;
        let last = last
      "
      [title]="link.name"
      [link]="link"
      class="w-80"
      [ngClass]="{
        'mr-[var(--container-outside-width)]': last,
        'ml-[var(--container-outside-width)]': first
      }"
    >
    </gn-ui-link-card>
  </gn-ui-carousel>
</ng-template>
