<div class="text-orange-500 text-sm">
  <div class="w-20 h-1 bg-orange-500 mb-4"></div>
  <span class="font-bold" translate>datafeeder.upload.acceptedFormats</span>
  <div class="formats flex flex-wrap w-64">
    <span class="w-1/2" *ngFor="let format of acceptedFileFormats">
      - {{ format }}
    </span>
  </div>
  <span
    class="font-bold"
    translate
    [translateParams]="{ size: maxFileSizeMb.toFixed(0) }"
    >datafeeder.upload.maxFileSize</span
  >
  <div class="w-20 h-1 bg-orange-500 mt-4"></div>
</div>
