<div
  class="bg-primary text-white p-5 shadow-xl rounded-lg grid grid-cols-6 gap-4 transition-[height] duration-100"
  [ngClass]="{ 'sm:bg-white sm:text-main': !isOpen }"
>
  <div
    class="sm:col-span-4 grid grid-cols-1 sm:grid-cols-2 gap-7 sm:gap-4 sm:grid-rows-auto"
    [ngClass]="
      isOpen
        ? 'col-span-6 mb-7 sm:mb-0'
        : 'col-span-4 sm:col-span-3 lg:col-span-4'
    "
  >
    <div class="sm:col-span-2" [ngClass]="isOpen ? 'flex' : 'flex sm:hidden'">
      <div class="w-full flex flex-row justify-between">
        <div
          class="flex flex-col sm:flex-row items-baseline justify-start gap-2"
        >
          <h2 class="text-xl mr-4 font-title" translate>
            search.filters.title
          </h2>
          <button
            type="button"
            class="text-sm opacity-80 hover:opacity-100 transition-opacity clear-btn"
            translate
            (click)="clearFilters()"
            data-cy="clearFilters"
          >
            search.filters.clear
          </button>
        </div>
        <span class="shrink-0 sm:hidden">
          <button
            type="button"
            *ngIf="isOpen"
            class="text-white opacity-60 hover:opacity-90 border-0 bg-transparent"
            (click)="close()"
          >
            <span class="text-sm" translate>search.filters.minimize</span>
            <ng-icon
              class="ml-1 align-middle leading-none"
              name="matRemoveOutline"
            ></ng-icon>
          </button>
        </span>
      </div>
    </div>
    <gn-ui-filter-dropdown
      *ngFor="let filter of searchConfig; let i = index"
      class="w-full"
      [ngClass]="getClassForFilter(i)"
      [fieldName]="filter.fieldName"
      [title]="filter.title | translate"
    ></gn-ui-filter-dropdown>
    <div
      class="spatial-filter-toggle sm:col-span-2"
      *ngIf="isOpen && (searchFacade.hasSpatialFilter$ | async)"
    >
      <gn-ui-check-toggle
        [title]="'search.filters.useSpatialFilterHelp' | translate"
        [label]="'search.filters.useSpatialFilter' | translate"
        [color]="'secondary'"
        [value]="searchFacade.spatialFilterEnabled$ | async"
        (toggled)="toggleSpatialFilter($event)"
      ></gn-ui-check-toggle>
    </div>
    <div class="sm:col-span-2" *ngIf="userId && isOpen">
      <gn-ui-check-toggle
        [title]="'search.filters.myRecordsHelp' | translate"
        [label]="'search.filters.myRecords' | translate"
        [color]="'secondary'"
        [value]="myRecordsFilterEnabled$ | async"
        (toggled)="toggleMyRecordsFilter($event)"
      ></gn-ui-check-toggle>
    </div>
    <div
      class="sm:col-span-2"
      *ngIf="!userId && (myRecordsFilterEnabled$ | async) && isOpen"
    >
      <gn-ui-button
        type="light"
        extraClass="text-sm align-middle"
        (buttonClick)="toggleMyRecordsFilter(false)"
      >
        <span>{{ 'search.filters.otherRecords' | translate }}</span>
        <ng-icon class="ml-3 opacity-40" name="matCloseOutline"></ng-icon>
      </gn-ui-button>
    </div>
  </div>
  <div
    class="col-span-2 flex flex-col justify-between"
    [ngClass]="{ 'sm:col-span-3 lg:col-span-2': !isOpen }"
  >
    <div
      class="flex flex-row gap-7 sm:gap-4"
      [ngClass]="
        isOpen
          ? 'justify-start sm:justify-end'
          : 'justify-end sm:justify-between'
      "
    >
      <gn-ui-button
        class="hidden sm:block"
        *ngIf="!isOpen"
        (buttonClick)="open()"
        type="outline"
        extraClass="!px-[8px]"
        data-cy="filters-expand"
      >
        <ng-icon name="matMoreHorizOutline"></ng-icon>
      </gn-ui-button>
      <button
        type="button"
        *ngIf="!isOpen"
        class="text-white opacity-60 hover:opacity-90 border-0 bg-transparent sm:hidden"
        (click)="open()"
        data-cy="filters-expand"
      >
        <span class="text-sm" translate>search.filters.maximize</span>
        <ng-icon
          class="ml-1 align-middle leading-none"
          name="matAddOutline"
        ></ng-icon>
      </button>
      <gn-ui-sort-by
        class="overflow-hidden"
        [ngClass]="isOpen ? 'block text-white mb-1' : 'hidden sm:block'"
        [isQualitySortable]="isQualitySortable"
      ></gn-ui-sort-by>
    </div>
    <div class="text-right">
      <button
        type="button"
        *ngIf="isOpen"
        class="text-white opacity-60 hover:opacity-90 border-0 bg-transparent hidden sm:inline"
        (click)="close()"
        data-cy="filters-collapse"
      >
        <span class="text-sm" translate>search.filters.minimize</span>
        <ng-icon
          class="ml-1 align-middle leading-none"
          name="matRemoveOutline"
        ></ng-icon>
      </button>
    </div>
  </div>
</div>
