<div
  class="flex-1 flex flex-col bg-primary-lightest bg-opacity-25 shape s1 overflow-hidden"
>
  <gn-ui-upload-data-background></gn-ui-upload-data-background>
  <div class="pl-64 pr-64 pt-16 pb-40 w-full h-full flex z-10 items-center">
    <div class="flex-1 self-start flex flex-col h-full">
      <div class="text-5xl font-bold pb-10 whitespace-pre-line" translate>
        datafeeder.publishSuccess.title
      </div>
      <div class="text-2xl font-bold pl-20" translate>
        datafeeder.publishSuccess.subtitle
      </div>
      <div class="flex-1 flex flex-col justify-between pl-20">
        <div class="flex flex-col pt-8">
          <gn-ui-button
            type="primary"
            *ngIf="gnLink"
            extraClass="rounded-full px-20 mb-2"
            (buttonClick)="openGeonetworkLink()"
            ><span translate class="uppercase text-white font-bold"
              >datafeeder.publishSuccess.geonetworkRecord</span
            ></gn-ui-button
          >
          <gn-ui-button
            type="primary"
            extraClass="rounded-full px-20 mb-2"
            *ngIf="gsLink"
            (buttonClick)="openGeoserverLink()"
            ><span class="uppercase text-white font-bold" translate
              >datafeeder.publishSuccess.mapViewer</span
            ></gn-ui-button
          >
          <gn-ui-button
            type="primary"
            *ngIf="ogcLink"
            extraClass="rounded-full px-20"
            (buttonClick)="openOgcLink()"
            ><span class="uppercase text-white font-bold" translate
              >datafeeder.publishSuccess.ogcFeature</span
            ></gn-ui-button
          >
        </div>

        <gn-ui-button
          type="primary"
          extraClass="rounded-full px-20 secondary"
          (buttonClick)="backToHome()"
        >
          <span translate class="uppercase font-bold"
            >datafeeder.publishSuccess.uploadAnotherData</span
          >
        </gn-ui-button>
      </div>
    </div>
    <div class="z-10 w-5/12 self-end">
      <gn-ui-success-publish-page-illustration></gn-ui-success-publish-page-illustration>
    </div>
  </div>
</div>
