<main class="bg-white">
  <div class="flex flex-row items-baseline gap-[8px] px-[32px] py-[20px]">
    <ng-container *ngIf="searchText$ | async as searchText; else allRecords">
      <h1
        class="text-[16px] text-main font-title font-bold"
        translate
        [translateParams]="{ searchText: searchText }"
      >
        dashboard.records.search
      </h1>
      <div class="text-[12px]">
        <md-editor-records-count></md-editor-records-count>
      </div>
    </ng-container>
    <ng-template #allRecords>
      <h1 class="text-[16px] text-main font-title font-bold" translate>
        dashboard.records.all
      </h1>
      <div class="text-[12px]">
        <md-editor-records-count></md-editor-records-count>
      </div>
    </ng-template>
  </div>
  <div
    class="flex flex-row items-center mx-[32px] my-[16px] py-[8px] gap-[16px]"
  >
    <div>
      <span class="uppercase" translate>dashboard.results.listMetadata</span>
    </div>
    <div>
      <span class="uppercase" translate>dashboard.results.listResources</span>
    </div>
    <div class="grow"></div>
    <gn-ui-button
      cdkOverlayOrigin
      #importRecordButton
      (buttonClick)="duplicateExternalRecord()"
      type="gray"
      data-test="import-record"
    >
      <span translate>dashboard.importRecord</span>
      <mat-icon
        *ngIf="!isImportMenuOpen"
        class="material-symbols-outlined text-primary"
        >keyboard_arrow_down</mat-icon
      >
      <mat-icon
        *ngIf="isImportMenuOpen"
        class="material-symbols-outlined text-primary"
        >keyboard_arrow_up</mat-icon
      >
    </gn-ui-button>
    <ng-template #template>
      <gn-ui-import-record
        (closeImportMenu)="closeImportMenu()"
      ></gn-ui-import-record>
    </ng-template>
    <gn-ui-button
      (buttonClick)="createRecord()"
      type="primary"
      data-cy="create-record"
    >
      <mat-icon class="material-symbols-outlined mr-2">edit_document</mat-icon>
      <span translate>dashboard.createRecord</span>
    </gn-ui-button>
  </div>

  <div
    class="shadow-md shadow-gray-300 border-[1px] border-gray-200 overflow-hidden rounded bg-white grow mx-[32px] my-[16px]"
  >
    <gn-ui-results-table-container
      class="text-[14px]"
      (recordClick)="editRecord($event)"
      (duplicateRecord)="duplicateRecord($event)"
    ></gn-ui-results-table-container>

    <div class="px-5 py-5 flex justify-center gap-8 items-baseline">
      <div class="grow">
        <gn-ui-pagination-buttons
          [currentPage]="searchFacade.currentPage$ | async"
          [totalPages]="searchFacade.totalPages$ | async"
          (newCurrentPageEvent)="searchService.setPage($event)"
        ></gn-ui-pagination-buttons>
      </div>
    </div>
  </div>
</main>
