<div class="flex cursor-pointer flex-wrap sm:flex-nowrap">
  <div class="flex-shrink-0 w-full sm:w-52">
    <div
      class="overflow-hidden bg-gray-100 rounded-lg w-full border border-gray-300 h-36"
    >
      <gn-ui-thumbnail
        class="relative h-full w-full object-cover object-left-top"
        [thumbnailUrl]="record.thumbnailUrl"
      ></gn-ui-thumbnail>
    </div>
  </div>
  <div
    class="content flex-grow grid grid-cols-1 auto-rows-min justify-between min-w-0 pr-6 sm:pl-6 sm:pr-12 sm:grid-cols-10"
  >
    <div
      class="order-1 mb-3 mt-5 font-title text-21 text-title line-clamp-2 sm:line-clamp-1 sm:col-span-10 sm:mt-2"
      [title]="record.title"
    >
      {{ record.title }}
    </div>
    <div
      class="order-3 flex-grow abstract mt-4 mb-5 h-36 sm:mb-2 sm:h-[4.5rem] line-clamp-6 sm:line-clamp-3 sm:col-span-10 sm:order-2 sm:mt-0"
    >
      {{ abstract }}
    </div>
    <div
      class="order-2 text-primary opacity-25 uppercase sm:truncate sm:order-3 sm:row-end-4 sm:col-span-8 lg:col-span-9"
    >
      {{ record.contact?.organisation }}
    </div>
    <div
      class="order-4 basis-1/2 flex flex-row sm:row-end-4 sm:justify-end sm:col-span-2 lg:col-span-1"
    >
      <mat-icon
        *ngIf="isDownloadable"
        class="material-icons-outlined text-primary opacity-25 mx-1"
        >cloud_download</mat-icon
      >
      <mat-icon
        *ngIf="isViewable"
        class="material-icons-outlined text-primary opacity-25 mx-1"
        >map</mat-icon
      >
    </div>
  </div>
</div>
