<header class="h-full" [style.background]="backgroundCss">
  <div class="container-md h-full mx-auto flex flex-col justify-center">
    <div
      class="py-8 relative"
      [style.transform]="'translate(0, ' + (1 - expandRatio) * 216 + 'px)'"
    >
      <div
        class="font-title text-[48px] leading-[58px] absolute w-full"
        style="bottom: 100%"
        [style.opacity]="expandRatio"
        [innerHTML]="'datahub.header.title.html' | translate"
      ></div>
      <gn-ui-fuzzy-search
        (itemSelected)="onFuzzySearchSelection($event)"
        [value]="searchInputRouteValue$ | async"
      ></gn-ui-fuzzy-search>
    </div>
    <!--
    <div class="flex">
      <datahub-header-badge-button
        icon="star"
        label="datahub.header.myfavorites"
      ></datahub-header-badge-button>
      <datahub-header-badge-button
        class="mx-3"
        label="datahub.header.connex"
      ></datahub-header-badge-button>
    </div>
-->
    <div
      class="tabs flex justify-center py-4 mt-12 font-medium absolute"
      style="bottom: 0; left: 0; right: 0"
      [style.opacity]="expandRatio"
    >
      <!--      <div class="uppercase text-white">Fil d'activité</div>-->
<!--
      <div
        class="uppercase text-primary hover:text-primary-lighter hover:underline cursor-pointer"
        (click)="onDatasetsClick()"
        translate=""
      >
        datasets
      </div>
-->
      <!--      <div class="uppercase text-white">Organisations</div>-->
    </div>
  </div>
</header>
