html,
body {
  height: 100%;
  color: var(--color-main);
}
body {
  margin: 0;
}

.container-sm {
  max-width: 640px;
}
.container-md {
  max-width: 768px;
}
.container-lg {
  max-width: 1024px;
}

html.record-page-active {
  scroll-padding-top: 220px;
}
@media only screen and (min-width: 640px) {
  html.record-page-active {
    scroll-padding-top: 80px;
  }
}

.btn-text-white {
  @apply text-white hover:text-primary-lighter;
}
.badge-btn {
  @apply transition-colors;
}
.badge-btn.active {
  @apply bg-primary;
}

.tippy-box a {
  @apply text-primary-lighter;
  text-decoration: underline;
}
.tippy-box a:hover {
  @apply text-primary-lightest;
}
