@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  color: var(--color-main);
}
body {
  margin: 0;
}

.container-sm {
  max-width: 640px;
}
.container-md {
  max-width: 768px;
}
.container-lg {
  max-width: 1024px;
}

html.record-page-active {
  scroll-padding-top: 220px;
}
@media only screen and (min-width: 640px) {
  html.record-page-active {
    scroll-padding-top: 80px;
  }
}

@layer components {
  .badge-btn {
    @apply items-center justify-center px-2 py-1 bg-primary hover:text-primary text-white rounded transition-all;
  }
}
