<div class="flex flex-row justify-between mb-11">
  <h2 class="gn-ui-section-title" translate>record.metadata.userFeedbacks</h2>
  <div class="pt-9">
    <gn-ui-dropdown-selector
      *ngIf="userFeedbacksParents && userFeedbacksParents.length > 1"
      [title]="'record.metadata.userFeedbacks.sortSelector.label' | translate"
      (selectValue)="changeSort($event)"
      [choices]="sortingStrategyList"
      [selected]="selectedSortingStrategy$ | async"
    >
    </gn-ui-dropdown-selector>
  </div>
</div>

<ng-container *ngIf="isAllUserFeedbackLoading; else userFeedbacksSection">
  <div class="flex justify-center h-[300px] pt-[145px]">
    <gn-ui-spinning-loader></gn-ui-spinning-loader>
  </div>
</ng-container>

<ng-template #userFeedbacksSection>
  <ng-container *ngIf="activeUser; else anonymousUser">
    <div class="flex flex-col h-auto w-full">
      <div class="flex flex-row items-center w-full h-auto gap-3 px-6">
        <ng-icon class="grow-0" name="matEditOutline"></ng-icon>
        <gn-ui-text-area
          [(value)]="newComment"
          [disabled]="isAddUserFeedbackLoading"
          (valueChange)="onNewCommentValueChange()"
          (keyup.control.enter)="publishNewComment()"
          [placeholder]="
            'record.metadata.userFeedbacks.newComment.placeholder' | translate
          "
          class="grow"
          extraClass="bg-transparent border-0 placeholder-primary-darker text-primary-darker h-9"
        ></gn-ui-text-area>
        <div
          *ngIf="!isNewCommentEmpty"
          id="new-comment-buttons"
          class="flex flex-row justify-end"
        >
          <gn-ui-button
            [disabled]="isAddUserFeedbackLoading"
            [type]="'outline'"
            (buttonClick)="publishNewComment()"
            title="Publish"
            extraClass="!p-[0.5em] text-primary-darker border-primary-darker h-9"
          >
            <ng-icon
              class="grow-0"
              *ngIf="!isAddUserFeedbackLoading"
              name="matSendOutline"
            >
            </ng-icon>
            <ng-container *ngIf="isAddUserFeedbackLoading">
              <div class="flex justify-center w-full">
                <gn-ui-spinning-loader></gn-ui-spinning-loader>
              </div>
            </ng-container>
          </gn-ui-button>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #anonymousUser>
    <div class="flex flex-row items-center gap-3 w-full h-auto px-6">
      <ng-icon class="grow-0" name="matEditOutline"></ng-icon>
      <span translate>record.metadata.userFeedbacks.anonymousUser</span>
      <a
        [href]="loginUrl"
        class="gn-ui-btn-primary uppercase flex flex-row items-center gap-2 ml-auto"
        translate
      >
        <ng-icon class="grow-0" name="matAccountBoxOutline"></ng-icon>
        button.login
      </a>
    </div>
  </ng-template>

  <div class="mt-4" *ngIf="userFeedbacksParents && userFeedbacksParents.length">
    <div
      class="mb-4 w-full"
      *ngFor="let userFeedbackParent of userFeedbacksParents"
    >
      <gn-ui-user-feedback-item
        [userFeedbackParent]="userFeedbackParent"
        [userFeedBacksAnswers]="
          userFeedBacksAnswers.get(userFeedbackParent.uuid)
        "
        [activeUser]="activeUser"
        [isAddUserFeedbackLoading]="isAddUserFeedbackLoading"
        (newUserFeedbackAnswer)="onNewUserFeedbackAnswer($event)"
      ></gn-ui-user-feedback-item>
    </div>
  </div>
</ng-template>
