<div>
  <gn-ui-results-hits></gn-ui-results-hits>
</div>
<div class="mt-4" *ngIf="publisher$ | async as publisher">
  <div translate="">search.filters.active</div>
  <div
    class="inline-block bg-primary py-2 px-3 rounded font-medium text-gray-50 text-sm leading-none mt-2"
  >
    <div class="flex">
      <div
        class="close bg-white bg-opacity-50 text-primary w-4 cursor-pointer h-4 text-xl leading-3 hover:bg-opacity-100 rounded-full text-center transition-all"
        style="line-height: 14px"
        (click)="removeOrg()"
      >
        ×
      </div>
      <div class="publisher ml-3 mt-px flex-grow">{{ publisher }}</div>
    </div>
  </div>
</div>
