<div>
  <catalog-site-title></catalog-site-title>
  <search-records-metrics field="tag" count="20"></search-records-metrics>
  <div class="mb-3 mx-4 p-5 bg-gray-500 rounded flex flex-row">
    <div class="w-4/5 mr-3">
      <search-fuzzy-search></search-fuzzy-search>
    </div>
    <div class="flex-grow">
      <search-sort-by></search-sort-by>
    </div>
    <div class="">
      <search-results-layout></search-results-layout>
    </div>
  </div>
  <div class="flex flex-row">
    <div>
      <search-facets-container></search-facets-container>
    </div>
    <div>
      <search-results-list-container></search-results-list-container>
    </div>
  </div>
</div>
