/* You can add global styles to this file, and also import other style files */

:root {
  --color-btn-primary: #6b6bf5;
  --color-btn-primary-hover: #6464e4;
  --color-btn-secondary: #d7a53d;
  --color-btn-secondary-hover: #d7a53d;
  --color-btn-default: #d7d7d7;
  --color-btn-default-hover: #cecece;
}
