<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Web Component Demo - Datahub</title>
    <base href="./" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&amp;family=Inter:wght@200;300;400;500;600;700&amp;display=swap"
      rel="stylesheet"
      type="text/css"
    />
    <style>
      body {
        margin: 0;
        font-family: 'Inter', sans-serif;
      }
      main {
        margin: 5rem;
      }
    </style>
  </head>
  <body>
    <main>
      <h3>Datahub</h3>
      <div>
        <script>
          GNUI_DATAHUB_CONFIG_URL = 'wc-config.toml'
        </script>
        <script src="gn-wc.js"></script>
        <gn-datahub config-url="wc-config.toml"></gn-datahub>
      </div>
    </main>
  </body>
</html>
