<div class="flex flex-row h-full">
  <aside class="w-[370px] shrink-0 border-r">
    <md-editor-sidebar></md-editor-sidebar>
  </aside>
  <div *ngIf="isLoading" class="flex justify-center w-full p-[145px]">
    <gn-ui-spinning-loader></gn-ui-spinning-loader>
  </div>
  <div
    *ngIf="!isLoading"
    class="flex flex-col h-full w-full"
    *ngIf="(facade.record$ | async)?.extras?.canEdit === true"
  >
    <div class="w-full h-auto shrink-0 relative">
      <md-editor-top-toolbar></md-editor-top-toolbar>
      <div class="absolute top-full left-0 w-2/3 z-10 pointer-events-none">
        <gn-ui-notifications-container></gn-ui-notifications-container>
      </div>
    </div>
    <div class="grow overflow-auto p-[32px]" #scrollContainer>
      <div class="container-lg mx-auto flex flex-col gap-[32px]">
        <div *ngIf="hasRecordChanged$ | async as hasChanged">
          <div
            *ngIf="hasChanged.user && hasChanged.date"
            class="p-4 border border-primary bg-primary-lightest rounded-lg text-center"
            translate
            [translateParams]="{
              date: formatDate(hasChanged.date),
              user: hasChanged.user,
            }"
            data-test="draft-alert"
          >
            editor.record.form.draft.updateAlert
          </div>
        </div>
        <md-editor-page-selector></md-editor-page-selector>
        <gn-ui-record-form></gn-ui-record-form>
        <div
          data-test="previousNextPageButtons"
          class="mt-auto flex flex-row justify-between"
        >
          <gn-ui-button
            type="gray"
            (buttonClick)="previousPageButtonHandler()"
            translate
          >
            {{
              (currentPage$ | async) === 0
                ? ('editor.record.form.bottomButtons.comeBackLater' | translate)
                : ('editor.record.form.bottomButtons.previous' | translate)
            }}
          </gn-ui-button>
          <gn-ui-button
            type="primary"
            (buttonClick)="nextPageButtonHandler()"
            [disabled]="isLastPage$ | async"
          >
            <span translate>editor.record.form.bottomButtons.next</span>
          </gn-ui-button>
        </div>
      </div>
    </div>
  </div>
  <div
    class="flex flex-col h-full w-full"
    *ngIf="(facade.record$ | async)?.extras?.canEdit === false"
  >
    <header class="shrink-0 border-b border-gray-300">
      <md-editor-search-header></md-editor-search-header>
    </header>
  </div>
</div>
