<div class="flex flex-col h-full">
  <div class="w-full h-auto shrink-0">
    <md-editor-top-toolbar></md-editor-top-toolbar>
    <md-editor-page-selector></md-editor-page-selector>
  </div>
  <div class="grow overflow-auto relative">
    <div class="absolute top-0 left-0 w-2/3 z-10 pointer-events-none">
      <gn-ui-notifications-container></gn-ui-notifications-container>
    </div>
    <gn-ui-record-form></gn-ui-record-form>
  </div>
  <div
    data-test="previousNextPageButtons"
    class="p-8 mt-auto flex flex-row justify-between"
  >
    <gn-ui-button
      type="secondary"
      (buttonClick)="previousPageButtonHandler()"
      translate
    >
      {{
        (currentPage$ | async) === 0
          ? ('editor.record.form.bottomButtons.comeBackLater' | translate)
          : ('editor.record.form.bottomButtons.previous' | translate)
      }}
    </gn-ui-button>
    <gn-ui-button type="primary" (buttonClick)="nextPageButtonHandler()"
      ><span translate
        >editor.record.form.bottomButtons.next</span
      ></gn-ui-button
    >
  </div>
</div>
