<div class="text-3xl font-bold flex" translate>
  <img src="./assets/images/uload-icon.svg" alt="" class="w-10" />
  datafeeder.upload.inputLabel
</div>
<div class="border rounded-md border-solid border-2 border-gray-300 h-12 my-2">
  <ui-drag-and-drop-file-input
    (fileChange)="fileChange($event)"
    placeholder="..."
  ></ui-drag-and-drop-file-input>
</div>
<div class="pb-4">
  <input
    class="cursor-pointer"
    type="checkbox"
    [checked]="haveRights"
    (change)="haveRights = !haveRights"
  />
  <span
    class="pl-2 italic cursor-pointer"
    (click)="haveRights = !haveRights"
    translate
    >datafeeder.upload.checkboxLabel</span
  >
</div>
<ui-button
  (click)="handleUploadBtnClick()"
  type="primary"
  extraClass="rounded-full px-20"
>
  <span class="uppercase text-white font-bold" translate
    >datafeeder.upload.uploadButton</span
  >
</ui-button>
