<div class="text-3xl font-bold flex" translate>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 20 20"
    class="w-10"
    fill="currentColor"
  >
    <path
      fill-rule="evenodd"
      d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm3.293-7.707a1 1 0 011.414 0L9 10.586V3a1 1 0 112 0v7.586l1.293-1.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"
      clip-rule="evenodd"
    />
  </svg>
  datafeeder.upload.inputLabel
</div>
<div class="border rounded-md border-solid border-2 border-gray-300 h-12 my-2">
  <gn-ui-drag-and-drop-file-input
    (fileChange)="fileChange($event)"
    placeholder="..."
    [accept]="acceptedMimeType.join(',')"
  ></gn-ui-drag-and-drop-file-input>
</div>
<div class="pb-4">
  <input
    class="cursor-pointer"
    type="checkbox"
    [checked]="haveRights"
    (change)="haveRights = !haveRights"
  />
  <span
    class="pl-2 italic cursor-pointer"
    (click)="haveRights = !haveRights"
    translate
    >datafeeder.upload.checkboxLabel</span
  >
</div>
<gn-ui-button
  (buttonClick)="handleUploadBtnClick()"
  type="primary"
  extraClass="rounded-full px-20"
  [disabled]="uploading"
>
  <svg
    *ngIf="uploading"
    class="animate-spin -ml-1 mr-3 h-5 w-5 text-white inline-block"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
  >
    <circle
      class="opacity-25"
      cx="12"
      cy="12"
      r="10"
      stroke="currentColor"
      stroke-width="4"
    ></circle>
    <path
      class="opacity-75"
      fill="currentColor"
      d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
    ></path>
  </svg>
  <span class="uppercase text-white font-bold" translate
    >datafeeder.upload.uploadButton</span
  >
</gn-ui-button>
