<div id="record-page">
  <datahub-navigation-bar
    class="z-20 sticky"
    style="top: 0"
    [metadata]="mdViewFacade.metadata$ | async"
  ></datahub-navigation-bar>
  <gn-ui-record-meta
    [metadata]="mdViewFacade.metadata$ | async"
  ></gn-ui-record-meta>
  <datahub-header-record
    [metadata]="mdViewFacade.metadata$ | async"
  ></datahub-header-record>
  <datahub-record-metadata
    [metadataQualityDisplay]="metadataQualityDisplay"
    [kind]="(mdViewFacade.metadata$ | async).kind"
  ></datahub-record-metadata>
</div>
