<div id="record-page">
  <gn-ui-sticky-header [fullHeightPx]="isMobile ? 544 : 344" [minHeightPx]="60">
    <ng-template let-expandRatio>
      <gn-ui-record-meta
        [metadata]="mdViewFacade.metadata$ | async"
      ></gn-ui-record-meta>
      <datahub-header-record
        [metadata]="mdViewFacade.metadata$ | async"
        [expandRatio]="expandRatio"
        [isMobile]="isMobile"
      ></datahub-header-record>
    </ng-template>
  </gn-ui-sticky-header>

  <datahub-record-metadata
    [metadataQualityDisplay]="metadataQualityDisplay"
  ></datahub-record-metadata>
</div>
