<div class="container-lg border p-8 rounded-lg gap-2 p-8 shadow">
  <div class="flex flex-row justify-between border-b border-gray-300">
    <div class="flex gap-2.5 items-center">
      <ng-icon name="iconoirEmojiPuzzled"></ng-icon>
      <span class="font-title text-2xl"
        >Quelque chose ne s'est pas passé comme prévu</span
      >
    </div>
    <a class="menu-item font-bold !pr-0" routerLink="/catalog/search">
      <span class="text-sm">Retour au catalogue</span>
      <ng-icon name="iconoirJournal"></ng-icon>
    </a>
  </div>
  <div class="flex items-center gap-2 h-32">
    <span class="font-medium"
      >Vous n'avez peut être pas accès à cette fiche, <br />Ou ce lien n'est
      peut être pas valide.</span
    >
  </div>
</div>
