<main class="bg-white overflow-y-auto">
  <div class="flex flex-row items-baseline gap-[8px] px-[32px] py-[20px]">
    <h1 class="text-[16px] text-main font-bold" translate>
      dashboard.records.myDraft
    </h1>
  </div>

  <div
    class="shadow-md shadow-gray-300 border-[1px] border-gray-200 overflow-hidden rounded bg-white grow mx-[32px] my-[16px] text-sm"
  >
    <gn-ui-results-table
      [isDraftPage]="true"
      [hasDraft]="hasDraft"
      [records]="records$ | async"
      (recordClick)="editRecord($event)"
      (rollbackDraft)="rollbackDraft($event)"
    ></gn-ui-results-table>
  </div>
</main>
