<div class="flex flex-col gap-4">
  <div class="flex flex-col">
    <div class="menu-title" translate="">dashboard.labels.catalog</div>
    <a
      class="menu-item"
      routerLink="/catalog/search"
      routerLinkActive="btn-active"
      #rlaAll="routerLinkActive"
    >
      <ng-icon name="iconoirJournal"></ng-icon>
      <span class="text-sm" translate="">dashboard.catalog.allRecords</span>
    </a>
    <!-- <a
      class="menu-item btn-inactive"
      [routerLink]="activeLink ? '/catalog/discussion' : null"
      routerLinkActive="btn-active"
      #rlaDiscussion="routerLinkActive"
      [title]="'editor.temporary.disabled' | translate"
    >
      <ng-icon name="matChatBubbleOutlineOutline"></ng-icon>
      <span class="text-sm" translate="">dashboard.catalog.discussion</span>
    </a>
    <a
      class="menu-item btn-inactive"
      [routerLink]="activeLink ? '/catalog/calendar' : null"
      routerLinkActive="btn-active"
      #rlaCalendar="routerLinkActive"
      [title]="'editor.temporary.disabled' | translate"
    >
      <ng-icon name="iconoirCalendar"></ng-icon>
      <span class="text-sm" translate="">dashboard.catalog.calendar</span>
    </a> -->
    <a
      class="menu-item btn-inactive"
      [routerLink]="activeLink ? '/catalog/contacts' : null"
      routerLinkActive="btn-active"
      #rlaContacts="routerLinkActive"
      [title]="'editor.temporary.disabled' | translate"
    >
      <ng-icon name="iconoirUser"></ng-icon>
      <span class="text-sm" translate="">dashboard.catalog.contacts</span>
    </a>
    <a
      class="menu-item btn-inactive"
      [routerLink]="activeLink ? '/catalog/thesaurus' : null"
      routerLinkActive="btn-active"
      #rlaThesaurus="routerLinkActive"
      [title]="'editor.temporary.disabled' | translate"
    >
      <ng-icon name="matLabelOutline"></ng-icon>
      <span class="text-sm" translate="">dashboard.catalog.thesaurus</span>
    </a>
  </div>

  <div class="flex flex-col">
    <div class="menu-title" translate="">dashboard.labels.mySpace</div>
    <a
      class="menu-item"
      routerLink="/my-space/my-records"
      routerLinkActive="btn-active"
      #rlaMyRecords="routerLinkActive"
    >
      <ng-icon name="iconoirJournalPage"></ng-icon>
      <span class="text-sm" translate="">dashboard.records.myRecords</span>
    </a>
    <a
      class="menu-item"
      routerLink="/my-space/my-draft"
      routerLinkActive="btn-active"
      #rlaMyDraft="routerLinkActive"
    >
      <ng-icon name="iconoirPageEdit"></ng-icon>
      <span class="text-sm" translate="">dashboard.records.myDraft</span>
      <ng-container *ngIf="draftsCount$ | async as draftsCount">
        <gn-ui-badge
          [style.--gn-ui-badge-padding]="'0.375em 0.875em'"
          [style.--gn-ui-badge-text-size]="'12px'"
          *ngIf="draftsCount > 0"
          data-cy="dashboard-drafts-count"
          >{{ draftsCount }}</gn-ui-badge
        >
      </ng-container>
    </a>
    <a
      class="menu-item btn-inactive"
      [routerLink]="activeLink ? '/my-space/templates' : null"
      routerLinkActive="btn-active"
      #rlaMyLibrary="routerLinkActive"
      [title]="'editor.temporary.disabled' | translate"
    >
      <ng-icon name="iconoirLightBulbOn"></ng-icon>
      <span class="text-sm" translate="">dashboard.records.templates</span>
    </a>
  </div>
</div>
