<div class="flex flex-col gap-3">
  <a
    class="menu-item"
    routerLink="/records/my-org"
    routerLinkActive
    #rlaMyOrg="routerLinkActive"
  >
    <mat-icon class="material-icons-outlined">home</mat-icon>
    <span translate="">editor.dashboard.myOrg</span>
  </a>
  <a
    class="menu-item"
    routerLink="/records/all"
    routerLinkActive
    #rlaAll="routerLinkActive"
  >
    <mat-icon class="material-icons-outlined">work_outline</mat-icon>
    <span translate="">editor.dashboard.catalog</span>
  </a>
  <div class="menu-title" translate="">editor.dashboard.mySpace</div>
  <a
    class="menu-item"
    routerLink="/records/my-records"
    routerLinkActive
    #rlaMyRecords="routerLinkActive"
  >
    <mat-icon class="material-icons-outlined">post_add</mat-icon>
    <span translate="">editor.dashboard.myRecords</span>
  </a>
  <a
    class="menu-item"
    routerLink="/records/my-draft"
    routerLinkActive
    #rlaMyDraft="routerLinkActive"
  >
    <mat-icon class="material-icons-outlined">edit_note</mat-icon>
    <span translate="">editor.dashboard.myDraft</span>
  </a>
  <a
    class="menu-item"
    routerLink="/records/my-library"
    routerLinkActive
    #rlaMyLibrary="routerLinkActive"
  >
    <mat-icon class="material-icons-outlined">bookmark_border</mat-icon>
    <span translate="">editor.dashboard.myLibrary</span>
  </a>
</div>
