<ng-container [ngSwitch]="status$ | async">
  <gn-ui-button
    cdkOverlayOrigin
    #actionMenuButton
    *ngSwitchCase="'hasChanges'"
    type="primary"
    (buttonClick)="verifyPublishConditions()"
    [matTooltip]="'editor.record.publish' | translate"
  >
    <ng-icon name="iconoirCloudUpload"></ng-icon>
  </gn-ui-button>
  <gn-ui-button *ngSwitchCase="'saving'" type="primary" [disabled]="true">
    <mat-spinner [diameter]="16"></mat-spinner>
  </gn-ui-button>
  <gn-ui-button
    cdkOverlayOrigin
    #actionMenuButton
    *ngSwitchCase="'upToDate'"
    type="secondary"
    [disabled]="true"
    (buttonClick)="verifyPublishConditions()"
    [matTooltip]="'editor.record.upToDate' | translate"
  >
    <ng-icon name="matCheckCircleOutline"></ng-icon>
  </gn-ui-button>
  <ng-template #template>
    <div
      data-test="publish-warning"
      class="w-96 p-5 flex flex-col gap-3 mt-2 border border-gray-100 bg-white shadow-2xl rounded-2xl mr-2"
    >
      <span
        class="text-center"
        translate
        [translateParams]="{
          date: formatDate(publishWarning.date),
          user: publishWarning.user,
        }"
        >editor.record.publish.confirmation.message</span
      >
      <div class="flex flex-row gap-8 justify-center">
        <gn-ui-button
          [style.--gn-ui-button-width]="'100px'"
          (buttonClick)="cancelPublish()"
          >{{
            'editor.record.publish.confirmation.cancelText' | translate
          }}</gn-ui-button
        >
        <gn-ui-button
          (buttonClick)="confirmPublish()"
          cdkFocusInitial
          type="primary"
          data-cy="publish-confirm-button"
          [style.--gn-ui-button-width]="'100px'"
          >{{
            'editor.record.publish.confirmation.confirmText' | translate
          }}</gn-ui-button
        >
      </div>
    </div>
  </ng-template>
</ng-container>
