<div
  class="h-[750px]"
  *ngIf="(displayMap$ | async) || (displayData$ | async)"
  id="preview"
>
  <div class="bg-primary-opacity-10 overflow-visible h-[480px]">
    <div class="container-lg pb-4 px-4 lg:mx-auto">
      <div>
        <h2 class="gn-ui-section-title transform translate-y-11 pt-0" translate>
          record.metadata.preview
        </h2>
        <mat-tab-group
          (selectedIndexChange)="onTabIndexChange($event)"
          [selectedIndex]="(displayMap$ | async) ? 0 : 1"
          animationDuration="200ms"
          mat-stretch-tabs="false"
          mat-align-tabs="start"
          disableRipple
        >
          <mat-tab [disabled]="(displayMap$ | async) === false">
            <ng-template mat-tab-label>
              <gn-ui-button
                *ngIf="displayDatavizConfig$ | async"
                class="pr-4 md:pr-10"
                type="primary"
                [class.opacity-50]="savingStatus === 'saved'"
                (buttonClick)="saveDatavizConfig()"
                [disabled]="savingStatus === 'saving'"
              >
                <ng-container [ngSwitch]="savingStatus">
                  <span *ngSwitchCase="'idle'" translate>
                    record.metadata.preview.config.idle
                  </span>
                  <span *ngSwitchCase="'saving'" translate>
                    record.metadata.preview.config.saving
                  </span>
                  <span *ngSwitchCase="'saved'" translate>
                    record.metadata.preview.config.saved
                  </span>
                  <span *ngSwitchCase="'error'" translate>
                    record.metadata.preview.config.error
                  </span>
                </ng-container>
              </gn-ui-button>
              <span class="tab-header-label" translate>record.tab.map</span>
            </ng-template>
            <div
              class="block"
              style="height: 639px"
              *ngIf="displayMap$ | async"
            >
              <gn-ui-map-view
                [exceedsLimit]="exceedsMaxFeatureCount$ | async"
                (linkSelected)="onSelectedLinkChange($event)"
                [selectedView]="selectedView$ | async"
              ></gn-ui-map-view>
            </div>
          </mat-tab>
          <mat-tab [disabled]="(displayData$ | async) === false">
            <ng-template mat-tab-label>
              <span class="tab-header-label" translate>record.tab.data</span>
            </ng-template>
            <div class="block" *ngIf="displayData$ | async">
              <gn-ui-data-view
                [exceedsLimit]="exceedsMaxFeatureCount$ | async"
                (linkSelected)="onSelectedLinkChange($event)"
                mode="table"
              ></gn-ui-data-view>
            </div>
          </mat-tab>
          <mat-tab [disabled]="(displayData$ | async) === false">
            <ng-template mat-tab-label>
              <span class="tab-header-label" translate>record.tab.chart</span>
            </ng-template>
            <div class="block" *ngIf="displayData$ | async">
              <gn-ui-data-view
                [exceedsLimit]="exceedsMaxFeatureCount$ | async"
                (linkSelected)="onSelectedLinkChange($event)"
                [selectedView]="selectedView$ | async"
                mode="chart"
              ></gn-ui-data-view>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
<div
  class="container-lg lg:mx-auto mb-10 px-4"
  *ngIf="displayViewShare$ | async"
>
  <gn-ui-data-view-share
    [viewType]="selectedView$ | async"
  ></gn-ui-data-view-share>
</div>
