<div
  style="height: 652px"
  *ngIf="(displayMap$ | async) || (displayData$ | async)"
  id="preview"
>
  <div
    class="bg-primary-opacity-10 overflow-visible pt-8"
    style="height: 512px"
  >
    <div class="container-lg px-4 lg:mx-auto">
      <div>
        <div
          class="text-[28px] text-title font-title transform translate-y-10"
          translate
        >
          record.metadata.preview
        </div>
        <mat-tab-group
          (selectedIndexChange)="onTabIndexChange($event)"
          [selectedIndex]="(displayMap$ | async) ? 0 : 1"
          animationDuration="200ms"
          mat-stretch-tabs="false"
          mat-align-tabs="start"
        >
          <mat-tab [disabled]="(displayMap$ | async) === false">
            <ng-template mat-tab-label>
              <span class="tab-header-label" translate>record.tab.map</span>
            </ng-template>
            <div
              class="block"
              style="height: 500px"
              *ngIf="displayMap$ | async"
            >
              <gn-ui-map-view
                [exceedsLimit]="exceedsMaxFeatureCount$ | async"
              ></gn-ui-map-view>
            </div>
          </mat-tab>
          <mat-tab [disabled]="(displayData$ | async) === false">
            <ng-template mat-tab-label>
              <span class="tab-header-label" translate>record.tab.data</span>
            </ng-template>
            <div class="block" *ngIf="displayData$ | async">
              <gn-ui-data-view
                [exceedsLimit]="exceedsMaxFeatureCount$ | async"
                mode="table"
              ></gn-ui-data-view>
            </div>
          </mat-tab>
          <mat-tab [disabled]="(displayData$ | async) === false">
            <ng-template mat-tab-label>
              <span class="tab-header-label" translate>record.tab.chart</span>
            </ng-template>
            <div class="block" *ngIf="displayData$ | async">
              <gn-ui-data-view
                [exceedsLimit]="exceedsMaxFeatureCount$ | async"
                mode="chart"
              ></gn-ui-data-view>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
<div class="container-lg lg:mx-auto pb-2 mb-16">
  <gn-ui-data-view-share
    *ngIf="displayViewShare$ | async"
    [viewType]="selectedView$ | async"
  ></gn-ui-data-view-share>
</div>
