/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
::ng-deep .mat-mdc-tab-labels {
  /* move tabs on the right to let the title show */
  flex-direction: row;
  justify-content: end;
}

::ng-deep .mat-mdc-tab.mdc-tab {
  letter-spacing: 0.88px;
}

::ng-deep .mat-mdc-tab.mdc-tab.mdc-tab--active .tab-header-label {
  opacity: 100%;
  font-weight: bold;
}

::ng-deep .mdc-tab-indicator--active .mdc-tab-indicator__content {
  border: none !important;
}

::ng-deep .mdc-tab__ripple::before {
  background-color: transparent !important;
}

::ng-deep .mat-mdc-tab.mdc-tab {
  padding-right: 5px;
}

@media only screen and (max-width: 639px) {
  /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
  ::ng-deep .mat-mdc-tab-labels {
    margin-left: 0px;
  }

  ::ng-deep .mat-mdc-tab.mdc-tab {
    padding-right: 2px !important;
    margin-right: 0;
    justify-content: left !important;
    min-width: 60px;
  }

  /*hide chart tab on mobile*/
  ::ng-deep .mat-mdc-tab.mdc-tab:nth-child(3) {
    display: none;
  }
}

.tab-header-label {
  @apply uppercase text-sm text-black opacity-75 hover:text-primary;
}
