<div style="height: 652px" id="feature-catalog">
  <div
    class="bg-primary-opacity-10 pt-8 overflow-visible sm:pt-5"
    style="height: 512px"
  >
    <div class="container-lg px-4 lg:mx-auto">
      <div>
        <div class="text-[28px] text-title font-title transform" translate>
          record.feature.catalog
        </div>
        <div class="bg-white">
          <datahub-search-feature-catalog></datahub-search-feature-catalog>
          <datahub-feature-catalog-list></datahub-feature-catalog-list>
        </div>
      </div>
    </div>
  </div>
</div>
