<nav
  class="bg-primary flex justify-between py-2 px-4 text-sm text-white sm:space-x-8 sm:px-20 sm:py-5"
>
  <button
    type="button"
    *ngFor="let l of anchorLinks"
    gnUiAnchorLink="{{ l.anchor }}"
    gnUiAnchorLinkDisabledClass="sm:hidden"
    class="uppercase font-medium tracking-wider hidden sm:block opacity-80 hover:opacity-100"
    translate
  >
    {{ l.label }}
  </button>
  <div
    (click)="toggleMobileMenu()"
    class="w-full flex justify-between cursor-pointer sm:hidden"
  >
    <div
      class="shrink truncate"
      [class]="displayMobileMenu ? 'block' : 'hidden'"
    >
      <div *ngFor="let l of anchorLinks">
        <button
          (click)="setActiveLabel($event.target)"
          gnUiAnchorLink="{{ l.anchor }}"
          gnUiAnchorLinkDisabledClass="hidden"
          class="block px-3 py-3 rounded-md font-medium uppercase tracking-wider w-full text-left truncate"
          translate
        >
          {{ l.label }}
        </button>
      </div>
    </div>
    <button
      class="block px-3 py-3 rounded-md font-medium uppercase tracking-wider shrink truncate sm:hidden"
      [class]="displayMobileMenu ? 'hidden' : 'block'"
      translate
    >
      {{ activeLabel }}
    </button>
    <button
      type="button"
      class="h-10 inline-flex items-center justify-center p-2 rounded-md shrink-0 sm:hidden"
    >
      <ng-icon class="align-middle" name="matExpandMoreOutline"></ng-icon>
    </button>
  </div>
</nav>
