:host {
  display: flex;
  flex: 1;
}

.shape {
  position: relative;
  background: var(--gradient);
  border: 1px solid var(--color-current);
}

.shape::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--color-primary);
}

.shape::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--color-background);
}

.shape.s1::before {
  left: 45%;
  -webkit-clip-path: url(#mask-shape1-1);
  clip-path: url(#mask-shape1-1);
}

.shape.s1::after {
  left: 45%;
  -webkit-clip-path: url(#mask-shape1-2);
  clip-path: url(#mask-shape1-2);
}

.error-dialog {
  position: absolute;

  top: -166px;
  left: 560px;
  z-index: 10;
}
