<div
  class="flex-1 flex flex-col bg-primary-lightest bg-opacity-25 shape s1 overflow-hidden"
>
  <gn-ui-upload-data-background></gn-ui-upload-data-background>
  <div class="h-full ml-32 flex items-center z-10">
    <div>
      <div class="text-6xl font-bold pb-10" translate>
        datafeeder.upload.title
      </div>

      <div class="pb-20 relative">
        <gn-ui-upload-data-component
          [maxFileSizeMb]="maxFileSizeMb"
          (jobId$)="onJobIdGet($event)"
          (errors$)="onUploadError($event)"
        ></gn-ui-upload-data-component>
        <gn-ui-upload-data-error-dialog
          class="error-dialog"
          [error]="error"
          [maxFileSizeMb]="maxFileSizeMb"
          *ngIf="error"
        ></gn-ui-upload-data-error-dialog>
      </div>

      <gn-ui-upload-data-rules
        [maxFileSizeMb]="maxFileSizeMb"
        [acceptedFileFormats]="['SHP', 'CSV']"
      >
      </gn-ui-upload-data-rules>
    </div>
    <gn-ui-upload-data-illustration
      class="absolute left-1/2"
    ></gn-ui-upload-data-illustration>
  </div>
</div>
