:host {
  position: relative;
}

.mask {
  width: 717px;
  min-height: 626px;
}

.error-dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 50% 65px 70px;
  width: 717px;
  min-height: 626px;
  background: transparent;
  color: #fff;
  -webkit-clip-path: url(#error-mask);
  clip-path: url(#error-mask);
  position: absolute;
}

.error-dialog .illustration {
  position: absolute;
  right: 0;
  padding: 0 20px 0 0;
  width: 50%;
}

.text-focus {
  font-size: 40px;
}
