.error-dialog {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 50% 65px 50px;
  width: 717px;
  min-height: 626px;
  background: var(--color-secondary);
  color: #fff;
  -webkit-clip-path: url(#error-mask);
  clip-path: url(#error-mask);
}
.error-dialog .illustration {
  position: absolute;
  right: 0;
  padding: 0 20px 0 0;
  width: 50%;
}
