<ng-container *ngIf="apiLinks$ | async as apiLinks">
  <gn-ui-carousel
    [title]="'record.metadata.api' | translate"
    [itemsLength]="apiLinks.length"
    containerClass="gap-4 py-10"
    stepsContainerClass="right-[var(--container-outside-width)] bottom-[calc(100%-12px)] top-auto"
  >
    <gn-ui-api-card
      *ngFor="let link of apiLinks"
      [title]="link.name"
      [link]="link"
      [currentLink]="selectedApiLink"
      class="w-full md:w-[17.5rem]"
      [ngClass]="{
        'card-shadow': link !== selectedApiLink || !selectedApiLink,
        'bg-neutral-100': link === selectedApiLink
      }"
      (openRecordApiForm)="openRecordApiForm($event)"
    >
    </gn-ui-api-card>
  </gn-ui-carousel>
  <div
    class="content overflow-hidden transition-all duration-300"
    [ngClass]="selectedApiLink ? 'ease-in' : 'ease-out'"
    [style.maxHeight]="maxHeight"
    [style.opacity]="opacity"
  >
    <div class="bg-primary-opacity-10 py-8">
      <div class="flex flex-col px-4 gap-8 container-lg lg:mx-auto">
        <div class="flex flex-wrap justify-between sm:mb-2 ng-star-inserted">
          <p class="text-[21px] text-title font-title" translate>
            record.metadata.api.form.title
          </p>
          <button
            type="button"
            class="flex items-center gap-0.5 text-primary group"
            (click)="closeRecordApiForm()"
          >
            <div
              class="text-sm font-medium opacity-50 group-hover:opacity-100 uppercase tracking-wide mt-0.5"
              translate
            >
              record.metadata.api.form.closeButton
            </div>
            <mat-icon
              class="!w-5 !h-5 text-xl font-bold material-symbols-outlined !flex items-center"
              >close
            </mat-icon>
          </button>
        </div>
        <gn-ui-record-api-form
          [apiLink]="selectedApiLink"
        ></gn-ui-record-api-form>
      </div>
    </div>
  </div>
</ng-container>
