<div class="flex flex-row gap-x-4 items-center justify-center md:justify-start">
  <p
    class="font-title text-[28px] font-medium text-title text-center sm:text-left"
    translate
  >
    record.metadata.api
  </p>
  <gn-ui-previous-next-buttons
    *ngIf="carousel.pagesCount > 1"
    [listComponent]="carousel"
  ></gn-ui-previous-next-buttons>
</div>
<gn-ui-carousel
  (currentStepChange)="updateView()"
  containerClass="gap-4 py-10"
  #carousel
>
  <gn-ui-api-card
    *ngFor="let link of apiLinks$ | async"
    [title]="link.name"
    [link]="link"
    [currentLink]="selectedApiLink"
    size="S"
    [ngClass]="{
      'card-shadow': link !== selectedApiLink || !selectedApiLink,
      'bg-neutral-100': link === selectedApiLink,
    }"
    (openRecordApiForm)="openRecordApiForm($event)"
  >
  </gn-ui-api-card>
</gn-ui-carousel>
<div
  class="content transition-all duration-300 w-screen mx-auto -ml-[calc(50vw-50%)] overflow-hidden"
  [ngClass]="selectedApiLink ? 'ease-in' : 'ease-out'"
  [style.maxHeight]="maxHeight"
  [style.opacity]="opacity"
>
  <div class="bg-primary-opacity-10 py-8">
    <div class="flex flex-col px-4 gap-8 container-lg lg:mx-auto">
      <div class="flex flex-wrap justify-between sm:mb-2 ng-star-inserted">
        <p
          class="text-[21px] text-title font-title"
          *ngIf="selectedApiLink?.accessServiceProtocol"
          translate
        >
          {{
            selectedApiLink?.accessServiceProtocol === 'GPFDL'
              ? 'record.metadata.api.form.title.gpf'
              : 'record.metadata.api.form.title'
          }}
        </p>
        <button
          type="button"
          class="flex items-center gap-0.5 text-primary group"
          (click)="closeRecordApiForm()"
        >
          <div
            class="text-sm font-medium opacity-50 group-hover:opacity-100 uppercase tracking-wide mt-0.5"
            translate
          >
            record.metadata.api.form.closeButton
          </div>
          <ng-icon
            class="!w-5 !h-5 text-xl font-bold !flex items-center"
            name="matCloseOutline"
          >
          </ng-icon>
        </button>
      </div>

      <gn-ui-gpf-api-dl
        *ngIf="selectedApiLink?.accessServiceProtocol === 'GPFDL'"
        [apiLink]="selectedApiLink"
      ></gn-ui-gpf-api-dl>
      <gn-ui-record-api-form
        *ngIf="selectedApiLink?.accessServiceProtocol !== 'GPFDL'"
        [apiLink]="selectedApiLink"
      ></gn-ui-record-api-form>
    </div>
  </div>
</div>
