<div
  class="w-full flex flex-row items-center gap-[8px]"
  data-test="pageSelectorButtons"
>
  <ng-container
    *ngFor="let page of pages$ | async; let index = index; let isLast = last"
  >
    <gn-ui-button
      (buttonClick)="pageSectionClickHandler(index)"
      class="flex flex-row items-center"
      type="light"
      extraClass="bg-transparent border-none"
      style="--gn-ui-button-padding: 0 16px 0 0"
      *ngrxLet="isCurrentPage(index) as isCurrentPage"
    >
      <div
        class="w-[40px] h-[40px] shrink-0 rounded-[8px] grid items-center font-bold transition-colors"
        data-test="page-number"
        [ngClass]="isCurrentPage ? 'bg-primary text-white' : 'bg-gray-200'"
      >
        {{ index + 1 }}
      </div>
      <div
        class="ms-[16px] transition-colors"
        [ngClass]="isCurrentPage ? 'text-black font-bold' : 'text-gray-600'"
        translate
      >
        {{ page.labelKey }}
      </div>
    </gn-ui-button>
    <div
      *ngIf="!isLast"
      class="w-10 mr-[8px] border-t-[2px] border-gray-500"
    ></div>
  </ng-container>
</div>
