<div
  class="w-full flex flex-row p-8 items-center gap-6"
  data-test="pageSelectorButtons"
>
  <ng-container
    *ngFor="let page of pages$ | async; let index = index; let isLast = last"
  >
    <div class="flex flex-row items-center gap-4">
      <div class="flex flex-row items-center gap-4 hover:cursor-pointer">
        <gn-ui-button
          (buttonClick)="pageSectionClickHandler(index)"
          class="flex flex-row items-center"
          [type]="
            (facade.currentPage$ | async) === index ? 'primary' : 'default'
          "
          extraClass="bg-transparent border-none"
        >
          <div
            class="w-10 h-10 rounded-[8px] pt-3 text-center"
            [ngClass]="
              (facade.currentPage$ | async) === index
                ? 'bg-primary font-bold'
                : 'bg-gray-200'
            "
          >
            {{ index + 1 }}
          </div>
          <div
            class="ms-4"
            [ngClass]="
              (facade.currentPage$ | async) === index
                ? 'text-center text-black font-bold'
                : 'text-gray-400'
            "
            translate
          >
            {{ page.labelKey }}
          </div>
        </gn-ui-button>
      </div>
      <div *ngIf="!isLast" class="w-10">
        <hr class="border-t-[2px]" />
      </div>
    </div>
  </ng-container>
</div>
