<header class="w-full h-[255px]" [style.background]="backgroundCss">
  <div
    class="h-full container-lg mx-auto px-[25px] flex flex-col justify-between"
  >
    <div class="flex flex-row justify-between content-center mt-3">
      <div class="ml-4">
        <gn-ui-button
          (buttonClick)="back()"
          data-cy="backButton"
          type="outline"
          extraClass="bg-transparent"
          [style.--gn-ui-button-color]="foregroundColor"
          [style.--gn-ui-button-height]="'32px'"
          [style.--color-gray-300]="foregroundColor"
        >
          <ng-icon
            name="matArrowBack"
            size="20px"
            class="align-middle"
          ></ng-icon>
          <span class="mx-2 mt-0.5 text-base content-center" translate
            >datahub.search.back</span
          >
        </gn-ui-button>
      </div>
      <div class="flex flex-row mr-6 content-center gap-3">
        <gn-ui-language-switcher
          *ngIf="showLanguageSwitcher"
          [style.--color-main]="foregroundColor"
          [style.--color-gray-300]="foregroundColor"
        ></gn-ui-language-switcher>
      </div>
    </div>
    <ng-container *ngIf="organization">
      <div
        data-test="organizationHeaderName"
        class="font-title text-[28px] max-w-screen-sm line-clamp-4 ml-4"
        [style.color]="foregroundColor"
      >
        {{ organization.name }}
      </div>
      <div
        class="flex flex-row flex-wrap gap-2 mb-4 ml-4 sm:mr-[332px]"
        [style.color]="foregroundColor"
      >
        <ng-icon name="matFolderOutline"></ng-icon>
        <p>
          {{ organization.recordCount }}
        </p>
        <p translate [translateParams]="{ count: organization.recordCount }">
          organization.header.recordCount
        </p>
        <ng-container *ngIf="organization.website">
          <p>&bull;</p>
          <a
            data-test="organizationHeaderWebsiteLink"
            class="flex flex-row items-center gap-1"
            href="{{ organization.website.href }}"
            target="_blank"
          >
            {{ organization.website.href }}
            <ng-icon name="matOpenInNewOutline"></ng-icon
          ></a>
        </ng-container>
      </div>
    </ng-container>
  </div>
</header>
