<div class="flex-1 flex dataset-forms-bg items-center">
  <div class="container mx-auto pt-16 pb-16 w-full h-full flex flex-col">
    <div class="text-5xl font-bold" translate>datafeeder.formsPage.title</div>
    <div class="pb-4 pt-4">
      <gn-ui-step-bar
        [steps]="numSteps + 1"
        [currentStep]="1 + currentStep"
        type="primary"
      ></gn-ui-step-bar>
    </div>
    <gn-ui-wizard
      [id]="id"
      [initialConfig]="wizardConfig"
      [requiredMsgKey]="requiredMsgKey"
      (stepChanges)="handleStepChanges($event)"
      (stepsNumber)="handleStepNumberChanges($event)"
    ></gn-ui-wizard>
  </div>
</div>
