:host {
  /* 1024px from container-lg*/
  --full-width: 100%;
  --container-width: min(1024px, var(--full-width));
  --right-col-width: 320px;
  --padding: -20px; /* compensate from router outlet padding */
}

.backdrop {
  position: absolute;
  height: 100%;
  top: 0;
  right: var(--padding);
  width: calc(
    var(--right-col-width) - var(--padding) +
      (var(--full-width) - var(--container-width)) / 2
  );
}
