:host {
  /* 1024px from container-lg*/
  --full-width: 100%;
  --container-width: min(1024px, var(--full-width));
  --right-col-width: 320px;
  --padding: -20px; /* compensate from router outlet padding */
}

.backdrop {
  position: absolute;
  height: 100%;
  top: 0;
  right: var(--padding);
  width: calc(
    var(--right-col-width) - var(--padding) +
      (var(--full-width) - var(--container-width)) / 2
  );
}

@media only screen and (max-width: 640px) {
  .backdrop {
    position: absolute;
    height: 440px;
    top: 0;
    left: 0;
    width: calc(100% + 2.5rem);
    margin: 0 -1.25rem;
  }
}
