:host {
  /* 1024px from container-lg*/
  --full-width: 100%;
  --container-width: min(1024px, var(--full-width));
  --right-col-width: 320px;
}

.backdrop {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  width: calc(
    var(--right-col-width) + (var(--full-width) - var(--container-width)) / 2
  );
}
