<div id="search-page" class="h-screen overflow-auto">
  <gn-ui-sticky-header [fullHeightPx]="560" [minHeightPx]="125">
    <ng-template let-expandRatio>
      <datahub-search-header
        [expandRatio]="expandRatio"
      ></datahub-search-header>
    </ng-template>
  </gn-ui-sticky-header>
  <main>
    <div class="container-lg mx-auto py-4">
      <div>
        <gn-ui-results-hits></gn-ui-results-hits>
        <gn-ui-results-list-container
          [scrollableOptions]="scrollableOptions"
          (mdSelect)="onMetadataSelection($event)"
        ></gn-ui-results-list-container>
      </div>
    </div>
  </main>
</div>
