<div gnUiSearchStateContainer="mainSearch">
  <header>
    <datahub-header
      [ngClass]="{ hidden: (isRecordOpened$ | async) }"
    ></datahub-header>
    <div *ngIf="isRecordOpened$ | async">
      <datahub-header-record
        [metadata]="mdViewFacade.metadata$ | async"
      ></datahub-header-record>
    </div>
  </header>
  <main class="py-4">
    <div
      class="container-lg mx-auto"
      [ngClass]="{ hidden: (isRecordOpened$ | async) }"
    >
      <datahub-main-search></datahub-main-search>
    </div>
    <gn-ui-record-metadata *ngIf="isRecordOpened$ | async">
    </gn-ui-record-metadata>
  </main>
</div>
