<div gnUiSearchStateContainer="mainSearch">
  <header>
    <datahub-header
      [ngClass]="{ hidden: (isRecordOpened$ | async) }"
    ></datahub-header>
    <div *ngIf="isRecordOpened$ | async">
      <datahub-header-record></datahub-header-record>
    </div>
  </header>
  <main>
    <div class="container-lg mx-auto py-4">
      <datahub-main-search
        [ngClass]="{ hidden: (isRecordOpened$ | async) }"
      ></datahub-main-search>
      <gn-ui-record-metadata *ngIf="isRecordOpened$ | async">
      </gn-ui-record-metadata>
    </div>
  </main>
</div>
