<header></header>
<main gnUiSearchStateContainer="mainSearch">
  <div class="bg-primary px-4">
    <div class="container-md mx-auto py-4">
      <div class="flex my-5">
        <div class="mr-3"></div>
        <div>
          <h2 class="text-white text-4xl uppercase">Data Hub</h2>
          <div class="text-white">Catalogue Régional Opendata</div>
        </div>
      </div>
      <div class="py-8">
        <gn-ui-fuzzy-search></gn-ui-fuzzy-search>
      </div>
    </div>
  </div>
  <div class="border-b border-gray-300">
    <div class="container-lg mx-auto py-4">
      <a
        class="
          text-primary
          truncate
          no-underline
          hover:text-primary-lighter hover:underline
        "
        routerLink="search"
        >Data Hub</a
      >
      > {{ breadcrumb$ | async }}
    </div>
  </div>
  <div class="container-lg mx-auto py-4">
    <gn-ui-main-search
      *ngIf="(isRecordOpened$ | async) === false"
    ></gn-ui-main-search>
    <gn-ui-metadata-full-view
      *ngIf="isRecordOpened$ | async"
    ></gn-ui-metadata-full-view>
  </div>
</main>
