<h2
  class="gn-ui-section-title pt-[40px] pb-[34px] container-lg lg:mx-auto"
  translate
>
  record.metadata.linked.records
</h2>
@if (hasSourceDatasets$ | async) {
  <datahub-record-internal-links
    [title]="'record.metadata.linked.sourceDatasets' | translate"
    [records]="sourceDatasets$ | async"
  ></datahub-record-internal-links>
}
@if (hasLinkedDatasets$ | async) {
  <datahub-record-internal-links
    [title]="'record.metadata.linked.datasets' | translate"
    [records]="linkedDatasets$ | async"
  ></datahub-record-internal-links>
}
@if (hasLinkedReuses$ | async) {
  <datahub-record-internal-links
    [title]="'record.metadata.linked.reuses' | translate"
    [records]="linkedReuses$ | async"
  ></datahub-record-internal-links>
}
@if (hasLinkedServices$ | async) {
  <datahub-record-internal-links
    [title]="'record.metadata.linked.services' | translate"
    [records]="linkedServices$ | async"
  ></datahub-record-internal-links>
}
