<div>
  <div class="flex h-screen">
    <aside class="w-[370px] shrink-0 border-r">
      <md-editor-sidebar></md-editor-sidebar>
    </aside>
    <div class="relative grow flex flex-col">
      <div class="absolute top-0 left-0 w-2/3 z-50 pointer-events-none">
        <gn-ui-notifications-container></gn-ui-notifications-container>
      </div>
      <header
        class="h-[60px] shrink-0"
        [ngClass]="
          searchActive
            ? 'border-b-2 border-primary'
            : 'border-b border-gray-300'
        "
      >
        <md-editor-search-header
          (isSearchActive)="handleSearchActive($event)"
        ></md-editor-search-header>
      </header>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
