<div class="container-lg mx-auto mt-8">
  <datahub-search-filters
    [isQualitySortable]="metadataQualityDisplay"
  ></datahub-search-filters>
  <div class="mt-6 rounded-lg text-gray-800 p-4 bg-slate-100">
    <gn-ui-results-hits
      [displayRecordKindFilter]="displayRecordKindFilter"
    ></gn-ui-results-hits>
  </div>
  <div class="mt-8">
    <gn-ui-results-list-container
      [metadataQualityDisplay]="metadataQualityDisplay"
      (mdSelect)="onMetadataSelection($event)"
      showMore="button"
    ></gn-ui-results-list-container>
  </div>
</div>
