@import '../../../tailwind.base.css';
@import 'node_modules/tippy.js/dist/tippy.css';
@import 'node_modules/ol/ol.css';
@import '../../../material-styles.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:host {
  font-family: var(--font-family-main);
  color: var(--color-main);
  line-height: 1.5;
}

.gn-ui-overlay-container {
  position: fixed;
  z-index: 1000;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.gn-ui-overlay-container:empty {
  display: none;
}
