@import '../../../tailwind.base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:host {
  font-family: var(--font-family-main);
  color: var(--color-main);
  line-height: 1.5;
}

/* CSS coming from host goog:material import, must be injected in shadowDOM styles */
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v138/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsLjBuVY.woff2)
    format('woff2');
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* These classes were extracted from the full Material theme to save size */
.cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1000;
  display: flex;
  max-width: 100%;
  max-height: 100%;
}

.cdk-overlay-connected-position-bounding-box {
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  min-width: 1px;
  min-height: 1px;
}

.cdk-overlay-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  pointer-events: auto;
  transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
  opacity: 0;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 1;
}

.cdk-overlay-transparent-backdrop {
  transition:
    visibility 1ms linear,
    opacity 1ms linear;
  visibility: hidden;
  opacity: 1;
}

.cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing {
  opacity: 0;
  visibility: visible;
}

.gn-ui-overlay-container {
  position: fixed;
  z-index: 1000;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.gn-ui-overlay-container:empty {
  display: none;
}

.mat-mdc-option.suggestion.mat-mdc-option-active {
  background-color: var(--color-primary-lightest);
}

/* TODO(mdc-migration): The following rule targets internal classes of autocomplete that may no longer apply for the MDC version. */
.mat-mdc-autocomplete-panel
  .mat-mdc-option.mat-selected:not(.mat-active):not(:hover):not(
    .mat-option-disabled
  ) {
  color: rgba(0, 0, 0, 0.87);
}

.mat-mdc-option:hover:not(.mat-option-disabled),
.mat-mdc-option:focus:not(.mat-option-disabled) {
  background: rgba(0, 0, 0, 0.04);
}

/* TODO(mdc-migration): The following rule targets internal classes of option that may no longer apply for the MDC version. */
.mat-mdc-option.mat-selected:not(.mat-mdc-option-multiple):not(
    .mat-option-disabled
  ) {
  background: rgba(0, 0, 0, 0.04);
}

.mat-mdc-select-panel
  .mat-mdc-option.mat-selected:not(.mat-mdc-option-multiple) {
  background: rgba(0, 0, 0, 0.12);
}

.mdc-menu-surface.mat-mdc-autocomplete-panel {
  margin-top: 10px !important;
  border-radius: 8px;
  background: white;
  box-shadow:
    0 2px 4px -1px #0003,
    0 4px 5px #00000024,
    0 1px 10px #0000001f;
}
