::ng-deep .mdc-menu-surface.mat-mdc-autocomplete-panel {
  margin-top: 10px !important;
  border-radius: 8px;
  background-color: white;
  box-shadow:
    0 2px 4px -1px #0003,
    0 4px 5px #00000024,
    0 1px 10px #0000001f;
}
