<header class="h-full px-5" [style.background]="backgroundCss">
  <div class="container-lg h-full mx-auto flex flex-col justify-end">
    <div
      class="py-8 relative z-50"
      [style.transform]="'translate(0, ' + (1 - expandRatio) * 234 + 'px)'"
    >
      <div
        class="font-title text-[30px] absolute w-full sm:text-[48px] sm:leading-[58px]"
        style="bottom: 100%"
        [style.opacity]="expandRatio"
        [innerHTML]="'datahub.header.title.html' | translate"
      ></div>
      <gn-ui-fuzzy-search
        class="text-[18px]"
        (itemSelected)="onFuzzySearchSelection($event)"
      ></gn-ui-fuzzy-search>
      <div class="flex h-0 py-5" [style.opacity]="-0.6 + expandRatio * 2">
        <datahub-header-badge-button
          [routerLink]="ROUTE_SEARCH"
          class="mr-3"
          *ngIf="isAuthenticated$ | async"
          icon="star"
          label="datahub.header.myfavorites"
          [toggled]="searchFacade.favoritesOnly$ | async"
          (action)="listFavorites($event)"
        ></datahub-header-badge-button>
        <datahub-header-badge-button
          [routerLink]="ROUTE_SEARCH"
          class="mr-3"
          label="datahub.header.lastRecords"
          [toggled]="
            (searchFacade.sortBy$ | async) === SORT_BY_PARAMS.CREATE_DATE
          "
          (action)="setSortBy($event, SORT_BY_PARAMS.CREATE_DATE)"
        ></datahub-header-badge-button>
        <datahub-header-badge-button
          [routerLink]="ROUTE_SEARCH"
          class="mr-3"
          label="datahub.header.popularRecords"
          [toggled]="
            (searchFacade.sortBy$ | async) === SORT_BY_PARAMS.USER_SAVED_COUNT
          "
          (action)="setSortBy($event, SORT_BY_PARAMS.USER_SAVED_COUNT)"
        ></datahub-header-badge-button>
      </div>
    </div>
    <!--
    <div class="flex">
      <datahub-header-badge-button
        icon="star"
        label="datahub.header.myfavorites"
      ></datahub-header-badge-button>
      <datahub-header-badge-button
        class="mx-3"
        label="datahub.header.connex"
      ></datahub-header-badge-button>
    </div>
-->
    <div
      class="tabs flex justify-between py-4 mt-40 font-medium"
      style="bottom: 0; left: 0; right: 0"
      [style.opacity]="-0.6 + expandRatio * 5"
    >
      <div
        class="uppercase truncate text-white hover:text-primary-lighter hover:underline cursor-pointer"
        routerLinkActive="text-primary"
        [routerLink]="ROUTE_NEWS"
        translate=""
      >
        datahub.header.news
      </div>
      <div
        class="uppercase truncate text-white hover:text-primary-lighter hover:underline cursor-pointer"
        routerLinkActive="text-primary"
        [routerLink]="ROUTE_SEARCH"
        (click)="updateSearch()"
        translate=""
      >
        datahub.header.datasets
      </div>
      <div
        class="uppercase truncate text-white hover:text-primary-lighter hover:underline cursor-pointer"
        routerLinkActive="text-primary"
        [routerLink]="ROUTE_ORGANISATIONS"
        translate=""
      >
        datahub.header.organisations
      </div>
    </div>
  </div>
</header>
