<div class="relative">
  <input
    type="text"
    class="appearance-none rounded w-full p-3 text-primary leading-tight focus:outline-none focus:border-primary"
    placeholder=""
    [formControl]="control"
    [matAutocomplete]="auto"
    (keyup.enter)="triggerSearch($event.target.value)"
    #searchInput
  />
  <button
    class="text-primary hover:text-primary-lighter absolute clear-btn"
    *ngIf="searchInput.value"
    matSuffix
    aria-label="Clear"
    (click)="clear()"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-autocomplete
  #auto="matAutocomplete"
  (optionSelected)="triggerSearch($event.option.value)"
>
  <mat-option
    *ngFor="let suggestion of suggestions | async"
    [value]="suggestion"
    class="p-2 text-sm text-primary-lighter"
  >
    {{ suggestion }}
  </mat-option>
</mat-autocomplete>
